/*----- FONTS -----*/

$font-base:							"GothamPro", Arial, Helvetica, sans-serif;
$font-cons:							"GothamPro", Arial, Helvetica, sans-serif;
$font-size: 16px;



/*----- FONTS -----*/

$clr-text:			#000000;

