@import "helpers/variables";
@import "helpers/sprite-svg";
@import "helpers/mixins";
@import "helpers/functions";
@import "helpers/normalize";

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	font-family: $got;
}

body {
	width: 100%;
	background: #fff;
	color: $clr-black;
	font-family: $got;
	font-size: 16px;
	line-height: 1.36;
}

a {
	color: #0680ba;
	transition: all linear .2s;
}

.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: ".";
	font-size: 0;
}

.clearfix { zoom: 1; }

.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	min-width: 300px;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 130px 20px;
}

.bg-black{
	background: $clr-black;
	color: $clr-white;
}

b,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $got;
}


@import "helpers/fonts";
@import "helpers/icons";

@import "partials/forms";
@import "partials/buttons";
@import "partials/header";
@import "partials/content";
@import "partials/footer";

@import "partials/intro";
