---
title: FAQ
followUsTall: true
inner: true
faqs: [
	{
		question: "How can I change the name in my ticket?",
		ansver: "You can easily change the name in the ticket in your Eventbrite account. Just log in and edit the attendee information."
	},
	{
		question: "Can you issue an invoice for my order?",
		ansver: "
			<p>Yes, it is possible to pay via invoice. Please, send your company details and we will issue it for you: Company name, company address, VAT number.</p>
			<p>As soon as we receive the payment, we'll send you a promo-code to activate the tickets.</p>"
	},
	{
		question: "Do you have any discount for students?",
		ansver: "Yes, we can provide a 15% student discount. Pease, send us a scan or a photo of your relevant students ID."
	},
	{
		question: "Do you provide any group discounts?",
		ansver: "Yes, to get a group discount please choose “Team Ticket” on Eventbrite."
	},
	{
		question: "Do you provide any special tickets or discount for diversity groups?",
		ansver: "Yes, we do run a diversity scholarship program. Free diversity tickets are distributed via community channels and also via application form."
	},
	{
		question: "Do you provide refunds if my visa is not approved?",
		ansver: "Yes, we can make a refund if your visa for travel was not approved. Please send us the declining letter from the embassy or any other confirming documents."
	},
	{
		question: "Do you provide refunds if decided not to travel?",
		ansver: "No, we do not provide refunds in this case due to our policies."
	},
	{
		question: "Can you issue an invitation letter to apply for a visa?",
		ansver: "
			<p>Yes, we can issue an invitation letter to make the process of getting visa easier. Please, send us the following details according to your travel document:</p>
			<p>First name:<br>
				Last name:<br>
				Date of birth:<br>
				Nationality:<br>
				Passport number:<br>
				Date of issue:<br>
				Expiration date:<br>
			</p>
		"
	},
	{
		question: "Can I join the conference as a volunteer?",
		ansver: "Yes, you can. Please, send us brief information about yourself: your experience in volunteering at conferences or any event organizing. Also please be sure that you’re going to be available on the day of the event and the day before it."
	},
	{
		question: "Is there a place to store my luggage during the event?",
		ansver: "There always is a wardrobe/cloakroom but neither we, nor the venue can’t be held accountable for attendee belongings. For big pieces of luggage, we suggest to leave them in a hotel luggage room or special luggage lockers."
	},
	{
		question: "Do you have a kids corner at the event?",
		ansver: "No, we don’t have any kids activities/corners planned."
	},
	{
		question: "Do you serve any food at the events?",
		ansver: "Yes, we serve lunch and coffee/pastries both at the conference and the workshops."
	},
	{
		question: "Do you have vegetarian/vegan/gluten free options at the event and workshops?",
		ansver: "Yes, we have vegetarian, vegan and gluten-free food for lunch at the conference. As for workshops - please let us know in advance if you have any special meal preferences."
	}
]
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

	<main class="content">

		<section class="section">
			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>F</span></span>AQ
						</h3>
					</div>

					<div class="section__head-r no-width">
						<p class="section__desc">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the<br /><br />
							leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
						</p>
					</div>
				</div>

				<ul class="faq marged">
				{% for faq in faqs %}
				{{mixins.faq({
					question: faq.question,
					ansver: faq.ansver
				})}}
				{% endfor %}
				</ul>
			</div>
		</section>

		{% include "partials/_follow.html" %}

	</main>

{% include "partials/_footer.html" %}

{% endblock %}
