{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

	<main class="content">

		{% include "partials/_intro.html" %}

		{% include "partials/_about.html" %}

		{% include "partials/_speakers.html" %}

		{% include "partials/_advice-lounge.html" %}

		{% include "partials/_mcs.html" %}

		{% include "partials/_location.html" %}

		{% include "partials/_follow.html" %}

		{% include "partials/_schedule.html" %}

		{% include "partials/_workshops.html" %}

		{% include "partials/_party.html" %}

		{% include "partials/_give-back.html" %}

		{% include "partials/_sponsors.html" %}

	</main><!-- .content -->


{% include "partials/_footer.html" %}

{% endblock %} 