---
title: React Jobs from Most Notable React Community Supporters
keywords: 'jobs, careers, react, javascript, conference, reactjs, react native, graphql'
description: "You are a JavaScript developer and would love to work for a company supporting React community and getting technology stack serious?"
innerPage: true
followUsTall: true
inner: true
statos: true

intro: {
	mod: 'height-auto',
	logoMod: 'short',
	desc: 'Top react jobs<br/><span>london</span>',
	stats: [
		{
			num: '14',
			desc: 'Partners'
		}, {
			num: '20+',
			desc: 'Job offers'
		}
	]
}

cards: [
	{
		img: 'job-formidable.gif',
		title: 'Are You Formidable?',
		descr: "<p>You’re a senior software engineer who has been in the field for a while and love what you do.</p>
		<p>You are:</p>
		<ul class='dotted-list'>
			<li class='dotted-list__item'>An individual contributor who’s comfortable talking to clients</li>
			<li class='dotted-list__item'>Someone who has strong opinions on the right way to do things</li>
			<li class='dotted-list__item'>A fantastic team leader with experience managing other engineers</li>
			<li class='dotted-list__item'>Humble and open to feedback</li>
			<li class='dotted-list__item'>A hardcore techie who can work directly with customers to discover and build what they need</li>
			<li class='dotted-list__item'>A rebel who believes working hard and smart goes hand-in-hand with 40-hour weeks</li>
		</ul>
		<p>We’re seeking a Sr. Software Engineer to join our London team straight away. If this sounds like you, let’s talk.</p>",
		link: 'https://www.formidable.com/'
	},{
		img: 'job-signal.jpg',
		title: 'Careers at Signal',
		descr: "<p>At Signal, we are building the next generation of A.I powered knowledge platforms using cutting edge machine learning to empower business leaders to make smarter, faster business decisions.</p>
		<p>We approach problems as groups of autonomous, highly collaborative, cross functional teams and focus on embracing Lean principles and continuous improvement to deliver value to our customers</p>
		<p>Come and join our friendly and informal group of people - we have an inclusive environment, welcoming the skills and experience from many diverse backgrounds, and together we have created who we are and what we sell.</p>
		<p>We are looking for experienced Web Engineer and Full stack engineers  who are passionate about building modern, scalable web application</p>",
		link: 'https://stackoverflow.com/jobs/companies/signal-ai'
	},{
		img: 'job-soshace.png',
		title: 'Careers at Soshace',
		descr: "<p>Have you ever spent dozens of hours on looking for remote jobs instead of doing something more productive, like coding? If yes, then <a href='https://soshace.com/'>Soshace</a> is here to take that responsibility off your shoulders and do the “searching” job for you.</p>
		<p><a href='https://soshace.com/'>Soshace</a> is an online hiring platform that connects web developers and companies willing to hire remotely. If you’re passionate about programming, proficient in modern web technologies, like Angular, React, Node.js, and Python, then you’re welcome to apply for remote jobs provided by Soshace.</p>
		<p>We work with startups and established companies alike from all over the world, including the United States, Canada, Australia, and the United Kingdom, among others. For the past four years of super productive work, we’ve completed more than seventy thousand hours of development work, successfully completed more than one hundred projects, the number which is constantly growing.</p>
		<p>We strive for excellence in everything that we do, and we guarantee adequate compensation even if the customer doesn’t meet their obligations.</p>
		<p>Most popular positions:</p>
		<ul class='dotted-list mt-0'>
			<li class='dotted-list__item'><a href='https://soshace.com/jobs/full-stack-angular-and-nodejs-developer-remote-soshace-16-09-2019'>Full-stack Angular/React and Node.js developer (remote)</a></li>
			<li class='dotted-list__item'><a href='https://soshace.com/jobs/front-end-react-developer-remote-soshace-16-09-2019'>Front-End React/Angular developer (remote)</a></li>
			<li class='dotted-list__item'><a href='https://soshace.com/jobs/nodejs-back-end-web-developer-remote-soshace-16-09-2019'>Node.js Back-end web developer (remote)</a></li>
			<li class='dotted-list__item'><a href='https://soshace.com/jobs/python-back-end-web-developer-remote-soshace-16-09-2019'>Python Back-end web developer (remote)</a></li>
		</ul>
		",
		link: 'https://soshace.com/'
	},{
		img: 'job-magiclab.png',
		title: 'Careers at MagicLab',
		descr: "<p>Our team is growing, and it’s exciting! By joining us, you’d be working on some of the top dating and social brands in the industry – not only Badoo, but also Bumble, Chappy, Lumen. It really is an exciting time to get on board: after all, the features we develop and the optimisations we make are delivered to millions of people across the globe. On top of that, you’ll get the chance to try your hand at modular cross-app architecture and write modules to be integrated into multiple brands.</p>
		<p>We have a diverse set of projects, they are generally using a combination of React, React Native, Redux, TypeScript and Webpack.</p>
		<p>We’re looking for someone who combines strong technical skills, extensive experience in product development and a pragmatic, results-oriented approach.</p>",
		link: 'https://jobs.lever.co/hiring/3e53f0cf-881a-46da-aa81-da945d1211bd/?utm_source=Reactadvanced)'
	},{
		img: 'job-graphcms.png',
		title: 'Careers at GraphCMS',
		descr: "<p>GraphCMS is building the most cutting-edge Headless CMS on the market! Over 30k developers and business around the world have embraced our approach to a headless CMS and we are bringing in hundreds more every week. We are tackling real problems in the exploding GraphQL API community and are leading the way in modern CMS concepts.<br/>
		We're on the lookout for exceptional colleagues to join us in Berlin, Giessen, or remotely. Our low-ego environment and “manager of one” work style gives employees the freedom to create their own success in a supportive and hands-off culture.<br/>
		If you love product and love seeing businesses grow, let's talk!</p>",
		link: 'https://jobs.graphcms.com/'
	}
]
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

	<main class="content">
		{% include "partials/_intro.html" %}

		{% include "partials/_cards.html" %}

		{% include "partials/_follow.html" %}
		<!-- .content -->
	</main>

{% include "partials/_footer.html" %}

{% endblock %}
