
{% set title = 'Workshops at React Advanced Conference - Oct 23-24, 2019' %}
{% set followUsTall = true %}

{% extends "layouts/_layout.html" %}

{% block content %}

	<button class="menu-toggle">
		<span></span>
		<span></span>
	</button>

	<header class="header">
		<div class="container">
			<div class="header__logo">
				<div class="logo-mini ir">
					<a href="/" class="logo-mini__link">React Advanced London</a>
				</div>
			</div>

			<div class="header__nav">
				<nav class="nav">
					<li class="nav__item">
						<a class="nav__link js-scroll-to" href="#about">About</a>
					</li>
					<li class="nav__item">
						<a class="nav__link js-scroll-to" href="#programmes">Programmes</a>
					</li>
<!--					<li class="nav__item">-->
<!--						<a class="nav__link js-scroll-to" href="#trainers">Trainers</a>-->
<!--					</li>-->
					<li class="nav__item">
						<a class="nav__link" href="https://www.eventbrite.com/e/react-advanced-conference-2019-tickets-59948809503">Tickets</a>
					</li>
					<li class="nav__item">
						<a class="nav__link js-scroll-to" href="/">Conference page</a>
					</li>
				</nav>
			</div>

			<div class="header__socials">
				<ul class="socials">
					<!-- <li class="socials__item">
						<a href="#" target="_blank" class="socials__link">
							<svg class="socials__img sl" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_sl"></use>
							</svg>
						</a>
					</li> -->
					<li class="socials__item">
						<a href="http://twitter.com/reactadvanced" target="_blank" class="socials__link">
							<svg class="socials__img tw" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_tw"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a href="https://youtube.com/c/ReactConferences" target="_blank" class="socials__link">
							<svg class="socials__img yt" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_yt"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a href="https://www.facebook.com/ReactAdvanced" target="_blank" class="socials__link">
							<svg class="socials__img fb" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_fb"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a href="https://medium.com/@ReactAdvanced" target="_blank" class="socials__link">
							<svg class="socials__img med" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_med"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header><!-- .header -->


	<main class="content">

		<section class="section intro" id="intro">
			<div class="container">

				<div class="intro__content">
					<div class="logo short ir">
						<a href="/" class="logo__link">React Advanced London</a>
					</div>

					<p class="logo-desc">
						Learn from the best <br/>
						<span>trainers worldwide</span>
					</p>

					<div class="stats">
						<div class="stats__item">
							<p class="stats__num"><span>2</span></p>
							<p class="stats__desc">Days</p>
						</div>

						<div class="stats__item">
							<p class="stats__num"><span>8</span></p>
							<p class="stats__desc">Trainers</p>
						</div>

						<div class="stats__item">
							<p class="stats__num"><span>280</span></p>
							<p class="stats__desc">Attendees</p>
						</div>
					</div>
				</div>

			</div>
		</section><!-- .content -->

		<section class="section workshops ws-workshop" id="about">
			<div class="container">

				<div class="workshops__decor-bottom"></div>

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial"><span>W</span></span>orkshops at react london conference
						</h3>

						<div class="section__desc">
							<p>On October 23-24, 2019, to extend your conference experience, we'll host multiple workshops targeted both at the React newcomers and hardcore fans. Take the full advantage of your conference visit and get training from our best speakers and trainers.</p>
							<p>All trainings start at 9:00 (with doors open 8:30) and continue until 17:00 and are hosted in individual locations, different from the conference venue but in short reach. Please address individual workshop description for location details and follow your registered mailbox for updates.</p>
              <p>More workshops descriptions to be added soon.</p>
						</div>
					</div>
				</div>
			</div>
		</section>



		<section class="section" id="programmes">
			<div class="container pt-0">

				<div class="content-tab max-width">
					<button class="content-tab__tab js-tabs__tab active" id="general-tab">23th October</button>
					<button class="content-tab__tab js-tabs__tab" id="react-tab">24th Ocober</button>
				</div>

				<ul class="schedule-list alligned-margin max-width js-tabs__panel active" id="general-panel">
					<li class="schedule-list__item single">
						<div class="schedule-list__line single">
							<div class="schedule-list__sep"></div>
							<div class="schedule-list__time"><span>9:00</span></div>
							<div class="schedule-list__desc">
								<div class="schedule-list__title"><span>Building your first Design System: from scratch to production</span></div>
								<div class="schedule-list__speaker">Siddharth Kshetrapal</div>

								<p class="schedule-list__p">
									This is a hands-on workshop for React developers in which you will learn how to define a common language for collaboration and iterate on products faster.
								</p>

								<p class="schedule-list__p">
									Learn the best practices of component driven design and how to standardize your design patterns. Leverage React to build design tokens and a component library that can be used in products and can evolve as teams use it. At the end of the day, you will have a small but complete Design system implementation that will cover the full product lifecycle.
								</p>
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Table of contents</p>
							</div>

							<div class="schedule-list__right">
								<ul class="dashed-list">
									<li class="dashed-list__item">What are the moving pieces of a design system</li>
									<li class="dashed-list__item">How to define a design system for your company</li>
									<li class="dashed-list__item">Balancing flexibility and consistency across your components</li>
									<li class="dashed-list__item"><strong>Design concepts</strong></li>
									<li class="dashed-list__item">Doing an inventory of your existing products or on-going design concept</li>
									<li class="dashed-list__item">Breaking your screens into re-usable atomic components</li>
									<li class="dashed-list__item">Systemize brand attributes and design decisions into tokens</li>
									<li class="dashed-list__item">Formalise the definition and usage guidelines into documentation</li>
									<li class="dashed-list__item"><strong>Development</strong></li>
									<li class="dashed-list__item">Plan the architecture of all the moving parts of the system</li>
									<li class="dashed-list__item">Creating a technology agnostic library of reusable tokens</li>
									<li class="dashed-list__item">Staring a component library with fundamental building blocks</li>
									<li class="dashed-list__item">Combining building blocks to build advanced compound components</li>
									<li class="dashed-list__item">Defining a consistent, easy to use API across your components</li>
									<li class="dashed-list__item">Distributing your system with versioning and good documentation</li>
									<li class="dashed-list__item"><strong>Collaboration</strong></li>
									<li class="dashed-list__item">Designing a cross-functional design system team</li>
									<li class="dashed-list__item">Creating a implementation strategy and publishing a long-term roadmap</li>
									<li class="dashed-list__item">Getting buy-in and driving adoption in your company</li>
									<li class="dashed-list__item">Common roadblocks that you will hit</li>
								</ul>
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Prerequisites</p>
							</div>

							<div class="schedule-list__right">
								Working knowledge of React would go a long way.
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Workshop level</p>
							</div>
							<div class="schedule-list__right">
								Intermediate/Advanced JavaScript/React developers
							</div>
						</div>

<!--						<div class="schedule-list__line">-->
<!--							<div class="schedule-list__left">-->
<!--								<p class="schedule-list__l-title">Location</p>-->
<!--							</div>-->

<!--							<div class="schedule-list__right">-->
<!--								THT-->
<!--							</div>-->
<!--						</div>-->

						<div class="schedule-list__line">
							<div class="schedule-list__time">17:00</div>
						</div>
					</li>

					<li class="schedule-list__item single">
						<div class="schedule-list__line single">
							<div class="schedule-list__sep"></div>
							<div class="schedule-list__time"><span>9:00</span></div>
							<div class="schedule-list__desc">
								<div class="schedule-list__title"><span>Building Whatsapp in a day with React Native and GraphQL</span></div>
								<div class="schedule-list__speaker">Vladimir Novick</div>

								<p class="schedule-list__p">
									In this full day workshop we will go through the process of creating Whatsapp app in React Native from scratch. We will talk about how to get started, structure our app and create proper navigation workflow, style our screens and create compelling animations. But we will not stop there. Not only React Native is changing mobile ecosystem nowadays, GraphQL is also an important part of how we connect to our backend.
								</p>

								<p class="schedule-list__p">
									We will go through GraphQL basics and use it in our Whatsapp app to connect to GraphQL endpoint which we will also define and create during workshop by using free and open source Hasura GraphQL engine. Workshop will give you the ultimate experience of creating React Native app from scratch with GraphQL API.
								</p>
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Prerequisites</p>
							</div>

							<div class="schedule-list__right">
								Familiarity with React, JavaScript and modern syntax features (ES2015).
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Workshop level</p>
							</div>
							<div class="schedule-list__right">
								Intermediate/Advanced JavaScript/React developers
							</div>
						</div>

<!--						<div class="schedule-list__line">-->
<!--							<div class="schedule-list__left">-->
<!--								<p class="schedule-list__l-title">Location</p>-->
<!--							</div>-->

<!--							<div class="schedule-list__right">-->
<!--								THT-->
<!--							</div>-->
<!--						</div>-->

						<div class="schedule-list__line">
							<div class="schedule-list__time">17:00</div>
						</div>
					</li>


				</ul>

				<ul class="schedule-list alligned-margin max-width js-tabs__panel" id="react-panel">
					<li class="schedule-list__item single">
						<div class="schedule-list__line single">
							<div class="schedule-list__sep"></div>
							<div class="schedule-list__time"><span>9:00</span></div>
							<div class="schedule-list__desc">
								<div class="schedule-list__title"><span>React Advanced</span></div>
								<div class="schedule-list__speaker">Kitze</div>
                <p class="schedule-list__p">
              Full-day, hands-on coding workshop to explore advanced patterns and new features in React. React may be just a simple UI library, but it involves a pretty big ecosystem around it. Explaining the basics and internals is not enough, so in this module we're going to explain the best practices, we're going to learn to "think in React", and apply solutions to real problems that you might encounter in the process of building an app.
            </p>
            <p class="schedule-list__p">We'll explore all the advanced techniques for making flexible and maintainable React components. We'll see how using popular patterns like Higher Order Components, Compound Components, Render Props etc. can help us in simplifying things, making our components more reusable and our apps more declarative.</p>
            <p class="schedule-list__p">React 16 comes with some major changes and an update to the core algorithm. In this module, we'll explore some practical use-cases for Hooks, Portals, Fragments, Error Boundaries etc. We'll see how the new Context API can simplify state-management and we'll play with a new feature called react-call-return.</p>
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Table of contents</p>
							</div>

							<div class="schedule-list__right">
								<ul class="dashed-list">
									<li class="dashed-list__item">Hooks</li>
									<li class="dashed-list__item">React Context API</li>
									<li class="dashed-list__item">Higher Order Components</li>
									<li class="dashed-list__item">Render Props</li>
									<li class="dashed-list__item">Compound Components</li>
									<li class="dashed-list__item">Practical use-cases for Portals, Fragments, React.lazy and Suspense<</li>
									<li class="dashed-list__item">and more..</li>
								</ul>
                <p>Learn more about workshops from Kitze on his <a href="https://www.reactacademy.io/" target="_blank">website</a>.</p>
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Prerequisites</p>
							</div>

							<div class="schedule-list__right">
								Experience with modern JavaScript features and fundamental React concepts
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Workshop level</p>
							</div>
							<div class="schedule-list__right">
								Intermediate/Advanced JavaScript/React developers
							</div>
						</div>

<!--						<div class="schedule-list__line">-->
<!--							<div class="schedule-list__left">-->
<!--								<p class="schedule-list__l-title">Location</p>-->
<!--							</div>-->

<!--							<div class="schedule-list__right">-->
<!--								THT-->
<!--							</div>-->
<!--						</div>-->

						<div class="schedule-list__line">
							<div class="schedule-list__time">17:00</div>
						</div>
					</li>
					<li class="schedule-list__item single">
						<div class="schedule-list__line single">
							<div class="schedule-list__sep"></div>
							<div class="schedule-list__time"><span>9:00</span></div>
							<div class="schedule-list__desc">
								<div class="schedule-list__title"><span>Reason & ReasonReact - from Zero to Production Ready</span></div>
								<div class="schedule-list__speaker">Nik Graf</div>
                <p class="schedule-list__p">Reason is a new functional, JavaScript-like language with a strong type-system and first level React bindings initiated by Jordan Walke, the creator of React.</p>
            <p class="schedule-list__p">In this workshop you will first learn about the syntax and semantics of the programming language Reason. Further we explore powerful concepts like pattern matching and Variants. Half way through we are going to write our first ReasonReact component. We start building a small application using React Hooks. Last but not least we will make use of GraphQL to fetch data from a server and render it our app.</p>
            <p class="schedule-list__p">The "What's included" & Prerequisites sections are still up to date</p>
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Table of contents</p>
							</div>

							<div class="schedule-list__right">
								<ul class="dashed-list">
									<li class="dashed-list__item">Introduction to the programming language</li>
									<li class="dashed-list__item">Reason datastructures</li>
									<li class="dashed-list__item">Writing your first ReasonReact component</li>
									<li class="dashed-list__item">Managing state in ReasonReact</li>
									<li class="dashed-list__item">Interop between JavaScript React and ReasonReact</li>
									<li class="dashed-list__item">and more..</li>
								</ul>
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Prerequisites</p>
							</div>

							<div class="schedule-list__right">
								To attend this workshop you should have worked with React. That said, no experience with Reason, any type system or functional programming is required.
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Workshop level</p>
							</div>
							<div class="schedule-list__right">
								Intermediate/Advanced JavaScript/React developers
							</div>
						</div>

<!--						<div class="schedule-list__line">-->
<!--							<div class="schedule-list__left">-->
<!--								<p class="schedule-list__l-title">Location</p>-->
<!--							</div>-->

<!--							<div class="schedule-list__right">-->
<!--								THT-->
<!--							</div>-->
<!--						</div>-->

						<div class="schedule-list__line">
							<div class="schedule-list__time">17:00</div>
						</div>
					</li>
					<li class="schedule-list__item single">
						<div class="schedule-list__line single">
							<div class="schedule-list__sep"></div>
							<div class="schedule-list__time"><span>9:00</span></div>
							<div class="schedule-list__desc">
								<div class="schedule-list__title"><span>TypeScript for React Devs</span></div>
								<div class="schedule-list__speaker">Michel Weststrate</div>

                <p class="schedule-list__p">The JavaScript Eco System is moving to TypeScript. Fast. TypeScript has some unique, very powerful features that fit very well with the dynamic nature of the JavaScript language. This workshop will get you up and running with all the basics and the most important advanced patterns of TypeScript.</p>
            <p class="schedule-list__p">But beyond that, this is a workshop for React devs! So we will discuss extensively how to combine TypeScript with a React code base. To practice the theory, during the hands-on parts of this workshop we will be migrating an application from plain JavaScript to TypeScript.
            </p>
							</div>
						</div>

<!--						<div class="schedule-list__line">-->
<!--							<div class="schedule-list__left">-->
<!--								<p class="schedule-list__l-title">Table of contents</p>-->
<!--							</div>-->

<!--							<div class="schedule-list__right">-->
<!--								<ul class="dashed-list">-->
<!--									<li class="dashed-list__item">Introduction to the programming language</li>-->
<!--									<li class="dashed-list__item">Reason datastructures</li>-->
<!--									<li class="dashed-list__item">Writing your first ReasonReact component</li>-->
<!--									<li class="dashed-list__item">Managing state in ReasonReact</li>-->
<!--									<li class="dashed-list__item">Interop between JavaScript React and ReasonReact</li>-->
<!--									<li class="dashed-list__item">and more..</li>-->
<!--								</ul>-->
<!--							</div>-->
<!--						</div>-->

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Prerequisites</p>
							</div>

							<div class="schedule-list__right">
								Familiarity with React, JavaScript and modern syntax features (ES2015).
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Workshop level</p>
							</div>
							<div class="schedule-list__right">
								All JavaScript/React developers
							</div>
						</div>

<!--						<div class="schedule-list__line">-->
<!--							<div class="schedule-list__left">-->
<!--								<p class="schedule-list__l-title">Location</p>-->
<!--							</div>-->

<!--							<div class="schedule-list__right">-->
<!--								THT-->
<!--							</div>-->
<!--						</div>-->

						<div class="schedule-list__line">
							<div class="schedule-list__time">17:00</div>
						</div>
					</li>
				</ul>
			</div>
		</section>

<!--		<section class="section speakers" id="trainers">-->
<!--			<div class="container">-->

<!--				<div class="section__head">-->
<!--					<div class="section__head-l">-->
<!--						<h3 class="section__title with-dots">-->
<!--							<span class="initial"><span>T</span></span>rainers-->
<!--						</h3>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="team">-->

<!--					<div class="team__item-wrap">-->
<!--						<div class="team__item">-->
<!--							<div class="team__img-wrap">-->
<!--								<img src="img/team/spaeker_1.jpg">-->
<!--							</div>-->

<!--							<div class="team__content">-->
<!--								<p class="team__name">JOHN DOE</p>-->
<!--								<p class="team__company">DOHN DOE INC</p>-->

<!--								<div class="team__info">-->
<!--									 PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="team__bottom">-->
<!--								<p class="team__tag">SUPAPUPA TECH</p>-->

<!--								<ul class="socials">-->
<!--									<li class="socials__item">-->
<!--										<a href="https://github.com/kenwheeler" target="_blank" class="socials__link">-->
<!--											<svg class="socials__img gh" role="img" aria-hidden="true">-->
<!--												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_gh"></use>-->
<!--											</svg>-->
<!--										</a>-->
<!--									</li>-->
<!--									<li class="socials__item">-->
<!--										<a href="https://twitter.com/ken_wheeler" target="_blank" class="socials__link">-->
<!--											<svg class="socials__img tw" role="img" aria-hidden="true">-->
<!--												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_tw"></use>-->
<!--											</svg>-->
<!--										</a>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="team__item-wrap">-->
<!--						<div class="team__item">-->
<!--							<div class="team__img-wrap">-->
<!--								<img src="img/team/spaeker_2.jpg">-->
<!--							</div>-->

<!--							<div class="team__content">-->
<!--								<p class="team__name">JOHN DOE</p>-->
<!--								<p class="team__company">DOHN DOE INC</p>-->

<!--								<div class="team__info">-->
<!--									 PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="team__bottom">-->
<!--								<p class="team__tag">SUPAPUPA TECH</p>-->

<!--								<ul class="socials">-->
<!--									<li class="socials__item">-->
<!--										<a href="https://github.com/kenwheeler" target="_blank" class="socials__link">-->
<!--											<svg class="socials__img gh" role="img" aria-hidden="true">-->
<!--												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_gh"></use>-->
<!--											</svg>-->
<!--										</a>-->
<!--									</li>-->
<!--									<li class="socials__item">-->
<!--										<a href="https://twitter.com/ken_wheeler" target="_blank" class="socials__link">-->
<!--											<svg class="socials__img tw" role="img" aria-hidden="true">-->
<!--												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_tw"></use>-->
<!--											</svg>-->
<!--										</a>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="team__item-wrap">-->
<!--						<div class="team__item">-->
<!--							<div class="team__img-wrap">-->
<!--								<img src="img/team/spaeker_3.jpg">-->
<!--							</div>-->

<!--							<div class="team__content">-->
<!--								<p class="team__name">JOHN DOE</p>-->
<!--								<p class="team__company">DOHN DOE INC</p>-->

<!--								<div class="team__info">-->
<!--									 PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="team__bottom">-->
<!--								<p class="team__tag">SUPAPUPA TECH</p>-->

<!--								<ul class="socials">-->
<!--									<li class="socials__item">-->
<!--										<a href="https://github.com/kenwheeler" target="_blank" class="socials__link">-->
<!--											<svg class="socials__img gh" role="img" aria-hidden="true">-->
<!--												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_gh"></use>-->
<!--											</svg>-->
<!--										</a>-->
<!--									</li>-->
<!--									<li class="socials__item">-->
<!--										<a href="https://twitter.com/ken_wheeler" target="_blank" class="socials__link">-->
<!--											<svg class="socials__img tw" role="img" aria-hidden="true">-->
<!--												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_tw"></use>-->
<!--											</svg>-->
<!--										</a>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="team__item-wrap">-->
<!--						<div class="team__item">-->
<!--							<div class="team__img-wrap">-->
<!--								<img src="img/team/spaeker_4.jpg">-->
<!--							</div>-->

<!--							<div class="team__content">-->
<!--								<p class="team__name">JOHN DOE</p>-->
<!--								<p class="team__company">DOHN DOE INC</p>-->

<!--								<div class="team__info">-->
<!--									 PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="team__bottom">-->
<!--								<p class="team__tag">SUPAPUPA TECH</p>-->

<!--								<ul class="socials">-->
<!--									<li class="socials__item">-->
<!--										<a href="https://github.com/kenwheeler" target="_blank" class="socials__link">-->
<!--											<svg class="socials__img gh" role="img" aria-hidden="true">-->
<!--												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_gh"></use>-->
<!--											</svg>-->
<!--										</a>-->
<!--									</li>-->
<!--									<li class="socials__item">-->
<!--										<a href="https://twitter.com/ken_wheeler" target="_blank" class="socials__link">-->
<!--											<svg class="socials__img tw" role="img" aria-hidden="true">-->
<!--												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_tw"></use>-->
<!--											</svg>-->
<!--										</a>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->

<!--				</div>-->
<!--			</div>-->
<!--		</section>-->

		<section class="section black">
			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial w"><span>W</span></span>e guarantee
						</h3>
					</div>

					<div class="section__head-r">

						<ul class="dashed-list">
							<li class="dashed-list__item">Modern training course from the first class industry experts</li>
							<li class="dashed-list__item">Small sized groups for maximum individual reach</li>
							<li class="dashed-list__item">A focus on practical exercises, so you'll learn by doing</li>
							<li class="dashed-list__item">Our friendly team on hand to answer your questions</li>
						</ul>
					</div>
				</div>

				<div class="ws-desc">
					<div class="ws-desc__left">
						<h4 class="ws-desc__title">If you are a developer</h4>
						<p class="ws-desc__p">Whether you're looking for skills to help you level up at work, get a promotion, or make yourself more competitive on the job market, our full-day workshops taught by the industry experts are tailored to get you there. Skyrocketing JavaScript frameworks will make you a developer in demand. Release full potential of React and React Native to discover new exciting career opportunities!</p>
					</div>

					<div class="ws-desc__left">
						<h4 class="ws-desc__title">If you are a business owner</h4>
						<p class="ws-desc__p">Investing just 8 hours into your employees’ development can result in a sufficient performance improvement. Let’s say, 10 of you engineers attend a full- day workshop. In the next year, they will put in approximately 20,000 hours of work for your company. If after the workshop their performance improves by only 1%, your organization in return will gain 200 hours of work. Impressive outcome after one training day only!</p>
					</div>
				</div>


			</div>
		</section>

		{% include "partials/_follow.html" %}

	</main>

{% include "partials/_footer.html" %}

{% endblock %}
