---
title: Workshops at React Advanced Conference - Oct 23-24, 2019
followUsTall: true
pageWorkshop: true

intro: {
	mod: 'height-auto',
	logoMod: 'short',
	desc: 'LEARN FROM THE BEST<br/><span>TRAINERS WORLDWIDE</span>',
	stats: [
		{
			num: '2',
			desc: 'Days'
		}, {
			num: '8',
			desc: 'Trainers'
		}, {
			num: '280',
			desc: 'Attendees'
		}
	]
}

workshopsGeneral: [
	{
		time: '9:00',
		title: 'Building your first Design System: from scratch to production',
		name: 'Siddharth Kshetrapal',
		desc: '<p class="schedule-list__p">This is a hands-on workshop for React developers in which you will learn how to define a common language for collaboration and iterate on products faster.</p>
		<p class="schedule-list__p">Learn the best practices of component driven design and how to standardize your design patterns. Leverage React to build design tokens and a component library that can be used in products and can evolve as teams use it. At the end of the day, you will have a small but complete Design system implementation that will cover the full product lifecycle.</p>',
		descLines: [
			{
				lineTitle: 'Table of contents',
				lineDesc: '
				<ul class="dashed-list">
					<li class="dashed-list__item">What are the moving pieces of a design system</li>
					<li class="dashed-list__item">How to define a design system for your company</li>
					<li class="dashed-list__item">Balancing flexibility and consistency across your components</li>
					<li class="dashed-list__item">
						<strong>Design concepts</strong>
						<ul class="dashed-list sub">
							<li class="dashed-list__item">Doing an inventory of your existing products or on-going design concept</li>
							<li class="dashed-list__item">Breaking your screens into re-usable atomic components</li>
							<li class="dashed-list__item">Systemize brand attributes and design decisions into tokens</li>
							<li class="dashed-list__item">Formalise the definition and usage guidelines into documentation</li>
						</ul>
					</li>
					<li class="dashed-list__item">
						<strong>Development</strong>
						<ul class="dashed-list sub">
							<li class="dashed-list__item">Plan the architecture of all the moving parts of the system</li>
							<li class="dashed-list__item">Creating a technology agnostic library of reusable tokens</li>
							<li class="dashed-list__item">Staring a component library with fundamental building blocks</li>
							<li class="dashed-list__item">Combining building blocks to build advanced compound components</li>
							<li class="dashed-list__item">Defining a consistent, easy to use API across your components</li>
							<li class="dashed-list__item">Distributing your system with versioning and good documentation</li>
						</ul>
					</li>

					<li class="dashed-list__item">
						<strong>Collaboration</strong>
						<ul class="dashed-list sub">
							<li class="dashed-list__item">Designing a cross-functional design system team</li>
							<li class="dashed-list__item">Creating a implementation strategy and publishing a long-term roadmap</li>
							<li class="dashed-list__item">Getting buy-in and driving adoption in your company</li>
							<li class="dashed-list__item">Common roadblocks that you will hit</li>
						</ul>
					</li>
				</ul>'
			}, {
				lineTitle: 'Prerequisites',
				lineDesc: 'Working knowledge of React would go a long way.'
			}, {
				lineTitle: 'Workshop level',
				lineDesc: 'Intermediate/Advanced JavaScript/React developers'
			}
		],
		endtime: '17:00'
	},{
		time: '9:00',
		title: 'Building Whatsapp in a day with React Native and GraphQL',
		name: 'Vladimir Novick',
		desc: '
			<p class="schedule-list__p">In this full day workshop we will go through the process of creating Whatsapp app in React Native from scratch. We will talk about how to get started, structure our app and create proper navigation workflow, style our screens and create compelling animations. But we will not stop there. Not only React Native is changing mobile ecosystem nowadays, GraphQL is also an important part of how we connect to our backend.</p>
			<p class="schedule-list__p">We will go through GraphQL basics and use it in our Whatsapp app to connect to GraphQL endpoint which we will also define and create during workshop by using free and open source Hasura GraphQL engine. Workshop will give you the ultimate experience of creating React Native app from scratch with GraphQL API.</p>',
		descLines: [
			{
				lineTitle: 'Prerequisites',
				lineDesc: 'Familiarity with React, JavaScript and modern syntax features (ES2015).'
			}, {
				lineTitle: 'Workshop level',
				lineDesc: 'Intermediate/Advanced JavaScript/React developers'
			}
		],
		endtime: '17:00'
	}
]

workshopsReact: [
	{
		time: '9:00',
		title: 'React Advanced',
		name: 'Kitze',
		desc: '<p class="schedule-list__p">Full-day, hands-on coding workshop to explore advanced patterns and new features in React. React may be just a simple UI library, but it involves a pretty big ecosystem around it. Explaining the basics and internals is not enough, so in this module we&apos;re going to explain the best practices, we&apos;re going to learn to "think in React", and apply solutions to real problems that you might encounter in the process of building an app.</p>
		<p class="schedule-list__p">We&apos;ll explore all the advanced techniques for making flexible and maintainable React components. We&apos;ll see how using popular patterns like Higher Order Components, Compound Components, Render Props etc. can help us in simplifying things, making our components more reusable and our apps more declarative.</p>
		<p class="schedule-list__p">React 16 comes with some major changes and an update to the core algorithm. In this module, we&apos;ll explore some practical use-cases for Hooks, Portals, Fragments, Error Boundaries etc. We&apos;ll see how the new Context API can simplify state-management and we&apos;ll play with a new feature called react-call-return.</p>',
		descLines: [
			{
				lineTitle: 'Table of contents',
				lineDesc: '<ul class="dashed-list">
					<li class="dashed-list__item">Hooks</li>
					<li class="dashed-list__item">React Context API</li>
					<li class="dashed-list__item">Higher Order Components</li>
					<li class="dashed-list__item">Render Props</li>
					<li class="dashed-list__item">Compound Components</li>
					<li class="dashed-list__item">Practical use-cases for Portals, Fragments, React.lazy and Suspense<</li>
					<li class="dashed-list__item">and more..</li>
				</ul>
                <p>Learn more about workshops from Kitze on his <a href="https://www.reactacademy.io/" target="_blank">website</a>.</p>'
			}, {
				lineTitle: 'Prerequisites',
				lineDesc: 'Experience with modern JavaScript features and fundamental React concepts'
			}, {
				lineTitle: 'Workshop level',
				lineDesc: 'Intermediate/Advanced JavaScript/React developers'
			}
		],
		endtime: '17:00'
	},{
		time: '9:00',
		title: 'Reason & ReasonReact - from Zero to Production Ready',
		name: 'Nik Graf',
		desc: '<p class="schedule-list__p">Reason is a new functional, JavaScript-like language with a strong type-system and first level React bindings initiated by Jordan Walke, the creator of React.</p>
		<p class="schedule-list__p">In this workshop you will first learn about the syntax and semantics of the programming language Reason. Further we explore powerful concepts like pattern matching and Variants. Half way through we are going to write our first ReasonReact component. We start building a small application using React Hooks. Last but not least we will make use of GraphQL to fetch data from a server and render it our app.</p>
		<p class="schedule-list__p">The "What&apos;s included" & Prerequisites sections are still up to date</p>',
		descLines: [
			{
				lineTitle: 'Table of contents',
				lineDesc: '<ul class="dashed-list">
					<li class="dashed-list__item">Introduction to the programming language</li>
					<li class="dashed-list__item">Reason datastructures</li>
					<li class="dashed-list__item">Writing your first ReasonReact component</li>
					<li class="dashed-list__item">Managing state in ReasonReact</li>
					<li class="dashed-list__item">Interop between JavaScript React and ReasonReact</li>
					<li class="dashed-list__item">and more..</li>
				</ul>'
			}, {
				lineTitle: 'Prerequisites',
				lineDesc: 'To attend this workshop you should have worked with React. That said, no experience with Reason, any type system or functional programming is required.'
			}, {
				lineTitle: 'Workshop level',
				lineDesc: 'Intermediate/Advanced JavaScript/React developers'
			}
		],
		endtime: '17:00'
	},{
		time: '9:00',
		title: 'TypeScript for React Devs',
		name: 'Michel Weststrate',
		desc: '<p class="schedule-list__p">The JavaScript Eco System is moving to TypeScript. Fast. TypeScript has some unique, very powerful features that fit very well with the dynamic nature of the JavaScript language. This workshop will get you up and running with all the basics and the most important advanced patterns of TypeScript.</p>
            <p class="schedule-list__p">But beyond that, this is a workshop for React devs! So we will discuss extensively how to combine TypeScript with a React code base. To practice the theory, during the hands-on parts of this workshop we will be migrating an application from plain JavaScript to TypeScript.
            </p>',
		descLines: [
			{
				lineTitle: 'Prerequisites',
				lineDesc: 'Familiarity with React, JavaScript and modern syntax features (ES2015)..'
			}, {
				lineTitle: 'Workshop level',
				lineDesc: 'All JavaScript/React developers'
			}
		],
		endtime: '17:00'
	}
]

speakers: [
	{
		img: 'kitze.jpg',
		name: 'Kitze',
		company: 'ReactAcademy, Poland',
		info: 'Teaching React & Javascript at React Academy. Cares about open source, made and maintains sizzy.co, custom-react-scripts, and mobx-router. He had the chance to work and experiment with a variety of languages and frameworks.',
		tag: '',
		socials: [
			{
				link: 'https://github.com/kitze',
				icon: 'gh',
			},{
				link: 'https://twitter.com/thekitze',
				icon: 'tw',
			}
		]
	}, {
		img: 'nik.jpg',
		name: 'Nik Graf',
		company: Freelance, Austria',
		info: 'Passionate about ReasonML, WebVR, Skiing & Triathlons. Co-Creator of DraftJS Plugins & Polished. Organizer at ReasonConf.',
		tag: '',
		socials: [
			{
				link: 'https://github.com/nikgraf',
				icon: 'gh',
			},{
				link: 'https://twitter.com/nikgraf',
				icon: 'tw',
			}
		]
	}, {
		img: 'michel.jpg',
		name: 'Michel Weststrate',
		company: 'Freelance, Netherlands',
		info: 'Independent OSS maintainer, speaker, trainer & consultant. Author of MobX, mobx-state-tree, serializr, immer.',
		socials: [
			{
				link: 'https://github.com/mweststrate',
				icon: 'gh',
			},{
				link: 'https://twitter.com/mweststrate',
				icon: 'tw',
			}
		]
	}, {
		img: 'sid.jpg',
		name: 'Siddharth Kshetrapal',
		company: Independent Developer, India',
		info: 'Sid builds tools for developers. In the past, he worked on Design Systems at Auth0 and as the frontend architect at Practo. He loves talking about design, performance and open source.',
		tag: '',
		socials: [
			{
				link: 'https://github.com/siddharthkp',
				icon: 'gh',
			},{
				link: 'https://twitter.com/siddharthkp',
				icon: 'tw',
			}
		]
	}, {
		img: 'vladimir.jpg',
		name: 'Vladimir Novick',
		company: 'Hasura, Israel',
		info: 'Developer advocate at hasura.io, Google Developer Expert, consultant, worldwide speaker, published author, host of the 3factorRadio podcast and OSS contributor. Currently, Vladimir works with Web, Mobile, VR, AR, and IoT technologies and advocates the use of GraphQL and serverless architectures as well as functional languages such as ReasonML.',
		tag: '',
		socials: [
			{
				link: 'https://github.com/vnovick',
				icon: 'gh',
			},{
				link: 'https://twitter.com/VladimirNovick',
				icon: 'tw',
			},{
				link: 'http://vnovick.com',
				icon: 'web',
			}
		]
	}
]
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

	<main class="content">

		{% include "partials/_intro.html" %}

		<section class="section workshops ws-workshop" id="about">
			<div class="container">

				<div class="workshops__decor-bottom"></div>

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial"><span>W</span></span>orkshops
						</h3>

						<div class="section__desc">
							<p>On October 23-24, to extend your conference experience, we'll host multiple workshops targeted both at the React newcomers and hardcore fans.</p>
              <p>Take the full advantage of your conference visit and get training from our best speakers and trainers.</p>
							<p>All trainings start at 9:00 (doors open at 8:30) and continue until 17:00. Workshops are hosted at the separate location, different from the conference venue - <a href="https://www.etcvenues.co.uk/venues/avonmouth-house" target="_blank">Avonmouth House</a>, 6 Avonmouth Street, SE1 6NX.</p>
							<p>More workshops descriptions to be added soon.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section" id="programmes">
			<div class="container pt-0">

				<div class="content-tab max-width">
					<button class="content-tab__tab js-tabs__tab active" id="general-tab">24th Ocober</button>
					<button class="content-tab__tab js-tabs__tab" id="react-tab">23th Ocober</button>
				</div>

				<ul class="schedule-list max-width js-tabs__panel active" id="general-panel">
					{% for item in workshopsReact %}
					{{mixins.workshop({
						time: item.time,
						title: item.title,
						name: item.name,
						desc: item.desc,
						descLines: item.descLines,
						endtime: item.endtime
					})}}
					{% endfor %}
				</ul>

				<ul class="schedule-list max-width js-tabs__panel" id="react-panel">
					{% for item in workshopsGeneral %}
					{{mixins.workshop({
						time: item.time,
						title: item.title,
						name: item.name,
						desc: item.desc,
						descLines: item.descLines,
						endtime: item.endtime
					})}}
					{% endfor %}
				</ul>

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>T</span></span>rainers
						</h3>
					</div>
				</div>

				<div class="team">
					{% for item in speakers %}
						{{mixins.speaker({
							img: item.img,
							name: item.name,
							company: item.company,
							info: item.info,
							tag: item.tag,
							socials: item.socials
						})}}
					{% endfor %}
				</div>

			</div>
		</section>

		<section class="section black">
			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial w"><span>W</span></span>e guarantee
						</h3>
					</div>

					<div class="section__head-r">

						<ul class="dashed-list">
							<li class="dashed-list__item">Modern training course from the first class industry experts</li>
							<li class="dashed-list__item">Small sized groups for maximum individual reach</li>
							<li class="dashed-list__item">A focus on practical exercises, so you'll learn by doing</li>
							<li class="dashed-list__item">Our friendly team on hand to answer your questions</li>
						</ul>
					</div>
				</div>

				<div class="ws-desc">
					<div class="ws-desc__left">
						<h4 class="ws-desc__title">If you are a developer</h4>
						<p class="ws-desc__p">Whether you're looking for skills to help you level up at work, get a promotion, or make yourself more competitive on the job market, our full-day workshops taught by the industry experts are tailored to get you there. Skyrocketing JavaScript frameworks will make you a developer in demand. Release full potential of React and React Native to discover new exciting career opportunities!</p>
					</div>

					<div class="ws-desc__left">
						<h4 class="ws-desc__title">If you are a business owner</h4>
						<p class="ws-desc__p">Investing just 8 hours into your employees’ development can result in a sufficient performance improvement. Let’s say, 10 of you engineers attend a full- day workshop. In the next year, they will put in approximately 20,000 hours of work for your company. If after the workshop their performance improves by only 1%, your organization in return will gain 200 hours of work. Impressive outcome after one training day only!</p>
					</div>
				</div>


			</div>
		</section>

		{% include "partials/_follow.html" %}

	</main>

{% include "partials/_footer.html" %}

{% endblock %}
