
{% set title = 'Workshops' %}
{% set followUsTall = true %}

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

	<main class="content">

		<section class="section intro" id="intro">
			<div class="container">

				<div class="intro__content">
					<div class="logo short ir">
						<a href="/" class="logo__link">React Advanced London</a>
					</div>

					<p class="logo-desc">
						Learn from the best <br/>
						<span>trainers worldwide</span>
					</p>

					<div class="stats">
						<div class="stats__item">
							<p class="stats__num"><span>2</span></p>
							<p class="stats__desc">Days</p>
						</div>

						<div class="stats__item">
							<p class="stats__num"><span>8</span></p>
							<p class="stats__desc">Trainers</p>
						</div>

						<div class="stats__item">
							<p class="stats__num"><span>370</span></p>
							<p class="stats__desc">Attendees</p>
						</div>
					</div>
				</div>

			</div>
		</section><!-- .content -->

		<section class="section workshops ws-workshop" id="workshops">
			<div class="container">

				<div class="workshops__decor-bottom"></div>

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial"><span>W</span></span>orkshops at react london conference
						</h3>

						<div class="section__desc">
							<p>On April 10 and 11th, 2019, to extend your conference experience, we'll host multiple workshops targeted both at the React newcomers and hardcore fans. Take the full advantage of your conference visit and get training from our best speakers and trainers.</p>
							<p>All trainings start at 9:00 (with doors open 8:30) and continue until 17:00 and are hosted in individual locations, different from the conference venue but in short reach. Please address individual workshop description for location details and follow your registered mailbox for updates.</p>
						</div>
					</div>
				</div>
			</div>
		</section>



		<section class="section" id="workshops">
			<div class="container pt-0">

				<div class="content-tab max-width">
					<button class="content-tab__tab js-tabs__tab active" id="general-tab">23th October</button>
					<button class="content-tab__tab js-tabs__tab" id="react-tab">24th Ocober</button>
				</div>

				<ul class="schedule-list max-width js-tabs__panel active" id="general-panel">
					<li class="schedule-list__item single">
						<div class="schedule-list__line single">
							<div class="schedule-list__sep"></div>
							<div class="schedule-list__time"><span>14:00</span></div>
							<div class="schedule-list__desc">
								<div class="schedule-list__title"><span>Advanced React</span></div>
								<div class="schedule-list__speaker">Kent C. Dodds</div>

								<p class="schedule-list__p">
									Writing applications with React is awesome. But sometimes creating reusable components can be a bit of a trick. And knowing the right level of abstraction and what libraries to use can be frustratingly difficult. Luckily for us, React is constantly getting better. Making React components that can be used in multiple places is not hard. What is hard is when the use cases differ. Without the right patterns, you can find yourself with a highly complex component that requires a lot of configuration props and way too many if statements. With this course, you'll not only learn great patterns you can use, but also the strengths and weaknesses of each so you know which to reach for to provide your components the flexibility and power you need. We'll also take a look at how to use React's built-in state management capabilities to solve common problems for production applications in elegant and simple ways. 
									I have contributed to and published some of the most successful React components in the React ecosystem. Through that experience, I've learned and taught patterns that enhance flexibility, usefulness, and simplicity. I've taught thousands of developers how to be more effective with React. Join us!
								</p>
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Table of contents</p>
							</div>

							<div class="schedule-list__right">
								<ul class="dashed-list">
									<li class="dashed-list__item">Use the Compound Components Pattern to write React components that implicitly share state while giving rendering flexibility to the user</li>
									<li class="dashed-list__item">React Hooks best practices to easily share logic and optimize for performance</li>
									<li class="dashed-list__item">Provide total logic control with the Controlled Props and State Reducer Patterns</li>
									<li class="dashed-list__item">Take advantage of React’s Context API to share state throughout the application with the Provider Pattern</li>
								</ul>
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Prerequisites</p>
							</div>

							<div class="schedule-list__right">
								Experience with modern JavaScript features and fundamental React concepts
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Workshop level</p>
							</div>
							<div class="schedule-list__right">
								Intermediate/advanced JavaScript/React developers
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Location</p>
							</div>

							<div class="schedule-list__right">
								THT
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__time">17:00</div>
						</div>
					</li>

					<li class="schedule-list__item single">
						<div class="schedule-list__line single">
							<div class="schedule-list__sep"></div>
							<div class="schedule-list__time"><span>8:30</span></div>
							<div class="schedule-list__desc">
								<div class="schedule-list__title"><span>TypeScript for React Devs</span></div>
								<div class="schedule-list__speaker">Michel Weststrate</div>

								<p class="schedule-list__p">
									The JavaScript Eco System is moving to TypeScript. Fast. TypeScript has some unique, very powerful features that fit very well with the dynamic nature of the JavaScript language. This workshop will get you up and running with all the basics and the most important advanced patterns of TypeScript.<br/>
									<br/>
									But beyond that, this is a workshop for React devs! So we will discuss extensively how to combine TypeScript with a React code base. To practice the theory, during the hands-on parts of this workshop we will be migrating an application from plain JavaScript to TypeScript.
								</p>
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Prerequisites</p>
							</div>

							<div class="schedule-list__right">
								Familiarity with React, JavaScript and modern syntax features (ES2015).
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Workshop level</p>
							</div>
							<div class="schedule-list__right">
								All JavaScript/React developers
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Location</p>
							</div>

							<div class="schedule-list__right">
								THT
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__time">17:00</div>
						</div>
					</li>


				</ul>
				
				<ul class="schedule-list max-width js-tabs__panel" id="react-panel">
					<li class="schedule-list__item single">
						<div class="schedule-list__line single">
							<div class="schedule-list__sep"></div>
							<div class="schedule-list__time"><span>14:00</span></div>
							<div class="schedule-list__desc">
								<div class="schedule-list__title"><span>Advanced Advanced React</span></div>
								<div class="schedule-list__speaker">Kent C. Dodds</div>

								<p class="schedule-list__p">
									Writing applications with React is awesome. But sometimes creating reusable components can be a bit of a trick. And knowing the right level of abstraction and what libraries to use can be frustratingly difficult. Luckily for us, React is constantly getting better. Making React components that can be used in multiple places is not hard. What is hard is when the use cases differ. Without the right patterns, you can find yourself with a highly complex component that requires a lot of configuration props and way too many if statements. With this course, you'll not only learn great patterns you can use, but also the strengths and weaknesses of each so you know which to reach for to provide your components the flexibility and power you need. We'll also take a look at how to use React's built-in state management capabilities to solve common problems for production applications in elegant and simple ways. 
									I have contributed to and published some of the most successful React components in the React ecosystem. Through that experience, I've learned and taught patterns that enhance flexibility, usefulness, and simplicity. I've taught thousands of developers how to be more effective with React. Join us!
								</p>
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Table of contents</p>
							</div>

							<div class="schedule-list__right">
								<ul class="dashed-list">
									<li class="dashed-list__item">Use the Compound Components Pattern to write React components that implicitly share state while giving rendering flexibility to the user</li>
									<li class="dashed-list__item">React Hooks best practices to easily share logic and optimize for performance</li>
									<li class="dashed-list__item">Provide total logic control with the Controlled Props and State Reducer Patterns</li>
									<li class="dashed-list__item">Take advantage of React’s Context API to share state throughout the application with the Provider Pattern</li>
								</ul>
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Prerequisites</p>
							</div>

							<div class="schedule-list__right">
								Experience with modern JavaScript features and fundamental React concepts
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Workshop level</p>
							</div>
							<div class="schedule-list__right">
								Intermediate/advanced JavaScript/React developers
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__left">
								<p class="schedule-list__l-title">Location</p>
							</div>

							<div class="schedule-list__right">
								THT
							</div>
						</div>

						<div class="schedule-list__line">
							<div class="schedule-list__time">17:00</div>
						</div>
					</li>
				</ul>
			</div>
		</section>

		<section class="section speakers" id="speakers">
			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>T</span></span>rainers
						</h3>
					</div>
				</div>

				<div class="team">

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="img/team/spaeker_1.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">JOHN DOE</p>
								<p class="team__company">DOHN DOE INC</p>

								<div class="team__info">
									 PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">SUPAPUPA TECH</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/kenwheeler" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/ken_wheeler" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="img/team/spaeker_2.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">JOHN DOE</p>
								<p class="team__company">DOHN DOE INC</p>

								<div class="team__info">
									 PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">SUPAPUPA TECH</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/kenwheeler" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/ken_wheeler" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="img/team/spaeker_3.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">JOHN DOE</p>
								<p class="team__company">DOHN DOE INC</p>

								<div class="team__info">
									 PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">SUPAPUPA TECH</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/kenwheeler" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/ken_wheeler" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="img/team/spaeker_4.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">JOHN DOE</p>
								<p class="team__company">DOHN DOE INC</p>

								<div class="team__info">
									 PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">SUPAPUPA TECH</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/kenwheeler" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/ken_wheeler" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section class="section black">
			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial w"><span>W</span></span>e guarantee
						</h3>
					</div>

					<div class="section__head-r">
						
						<ul class="dashed-list">
							<li class="dashed-list__item">Modern training course from the first class industry experts</li>
							<li class="dashed-list__item">Small sized groups for maximum individual reach</li>
							<li class="dashed-list__item">A focus on practical exercises, so you'll learn by doing</li>
							<li class="dashed-list__item">Our friendly team on hand to answer your questions</li>
						</ul>
					</div>
				</div>

				<div class="ws-desc">
					<div class="ws-desc__left">
						<h4 class="ws-desc__title">If you are a developer</h4>
						<p class="ws-desc__p">Whether you're looking for skills to help you level up at work, get a promotion, or make yourself more competitive on the job market, our full-day workshops taught by the industry experts are tailored to get you there. Skyrocketing JavaScript frameworks will make you a developer in demand. Release full potential of React and React Native to discover new exciting career opportunities!</p>
					</div>

					<div class="ws-desc__left">
						<h4 class="ws-desc__title">If you are a business owner</h4>
						<p class="ws-desc__p">Investing just 8 hours into your employees’ development can result in a sufficient performance improvement. Let’s say, 10 of you engineers attend a full- day workshop. In the next year, they will put in approximately 20,000 hours of work for your company. If after the workshop their performance improves by only 1%, your organization in return will gain 200 hours of work. Impressive outcome after one training day only!</p>
					</div>
				</div>


			</div>
		</section>

		{% include "partials/_follow.html" %}

	</main>

{% include "partials/_footer.html" %}

{% endblock %} 