$icons: (
	  sprite: (width: 510px, height: 544px, svgPath: '../img/sprite.svg'),
 	O: (width: 54px, height: 120px, backgroundX: 0px, backgroundY: 0px),
 	W: (width: 129px, height: 135px, backgroundX: -54px, backgroundY: -120px),
 	arrow_r: (width: 25.4px, height: 11.4px, backgroundX: -183px, backgroundY: -255px),
 	dummy: (width: 40px, height: 40px, backgroundX: -209px, backgroundY: -267px),
 	feature_1: (width: 53px, height: 51px, backgroundX: -249px, backgroundY: -307px),
 	feature_2: (width: 67px, height: 51px, backgroundX: -302px, backgroundY: -358px),
 	feature_3: (width: 51px, height: 52px, backgroundX: -369px, backgroundY: -409px),
 	socials_fb: (width: 6px, height: 12px, backgroundX: -420px, backgroundY: -461px),
 	socials_gh: (width: 21px, height: 20px, backgroundX: -426px, backgroundY: -473px),
 	socials_med: (width: 15.07px, height: 12px, backgroundX: -447px, backgroundY: -493px),
 	socials_sl: (width: 14.216px, height: 14.219px, backgroundX: -463px, backgroundY: -505px),
 	socials_tw: (width: 14.96px, height: 12px, backgroundX: -478px, backgroundY: -520px),
 	socials_yt: (width: 17px, height: 12px, backgroundX: -493px, backgroundY: -532px),
);
