$icons: (
	  sprite: (width: 621px, height: 593px, svgPath: '../img/sprite.svg'),
 	arrow-l: (width: 7.9px, height: 13.4px, backgroundX: 0px, backgroundY: 0px),
 	arrow-r: (width: 7.9px, height: 13.4px, backgroundX: -8px, backgroundY: -14px),
 	arrow_r: (width: 25.4px, height: 11.4px, backgroundX: -16px, backgroundY: -28px),
 	feature_1: (width: 53px, height: 51px, backgroundX: -42px, backgroundY: -40px),
 	feature_2: (width: 67px, height: 51px, backgroundX: -95px, backgroundY: -91px),
 	feature_3: (width: 51px, height: 52px, backgroundX: -162px, backgroundY: -142px),
 	logo-graphql: (width: 48px, height: 53px, backgroundX: -213px, backgroundY: -194px),
 	logo-jest: (width: 50px, height: 55px, backgroundX: -261px, backgroundY: -247px),
 	logo-react: (width: 54px, height: 48px, backgroundX: -311px, backgroundY: -302px),
 	logo-react-native: (width: 54px, height: 48px, backgroundX: -365px, backgroundY: -350px),
 	logo-reason: (width: 48px, height: 48px, backgroundX: -419px, backgroundY: -398px),
 	logo-typescript: (width: 48px, height: 48px, backgroundX: -467px, backgroundY: -446px),
 	socials_fb: (width: 6px, height: 12px, backgroundX: -515px, backgroundY: -494px),
 	socials_gh: (width: 21px, height: 20px, backgroundX: -521px, backgroundY: -506px),
 	socials_med: (width: 15.07px, height: 12px, backgroundX: -542px, backgroundY: -526px),
 	socials_sl: (width: 14.216px, height: 14.219px, backgroundX: -558px, backgroundY: -538px),
 	socials_tw: (width: 14.96px, height: 12px, backgroundX: -573px, backgroundY: -553px),
 	socials_web: (width: 16px, height: 16px, backgroundX: -588px, backgroundY: -565px),
 	socials_yt: (width: 17px, height: 12px, backgroundX: -604px, backgroundY: -581px),
);
