		<section class="section about bg-black" id="event">
			<div class="about__decor-1"></div>
			<div class="about__decor-2"></div>

			<div class="container">
				<a class="about__reserve basic-btn btn-green" href="https://www.eventbrite.com/e/react-advanced-conference-2019-tickets-59948809503">
					<div class="basic-btn__inner">
						<div class="basic-btn__arr-l">
							<svg class="basic-btn__arrow" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>
							</svg>
						</div>
						Tickets
						<div class="basic-btn__arr-r">
							<svg class="basic-btn__arrow" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>
							</svg>
						</div>
					</div>
				</a>

				<div class="about__left">
					<h2 class="section__title about__title">
						<span class="initial"><span>S</span></span>traight<br/> to Business
					</h2>

					<p class="about__subtitle">Are you into React, React Native, GraphQL, and Reason and hungry to learn from the best?</p>
					<div class="about__desc">
						<p>The React ecosystem and community have grown dramatically in the last few years, as has the complexity of web and JavaScript app development. Don't go the journey alone—connect with a global network of field experts and gain invaluable, behind-the-scenes insights.
Engineers of any level are welcome, but be prepared to get hardcore.</p>
						<p>React Advanced London is brought to you by the organisers of React Amsterdam and the experts at FocusReactive.</p>
					</div>
				</div>

				<div class="about__right">
					<div class="features">
						<div class="features__item">
							<div class="features__time">
								<div class="features__date">23<span>rd</span></div>
								<div class="features__plus">+</div>
								<div class="features__date">24<span>th</span></div>
							</div>
							<div class="features__desc">
								<p class="features__title">Workshops</p>
								<p class="features__p">Patterns, React Native, GraphQL, Design Systems, TypeScript, Reason</p>
							</div>
						</div>

						<div class="features__item">
							<div class="features__time">
								<div class="features__date">25<span>th</span></div>
								<div class="features__plus to-bottom">+</div>
							</div>
							<div class="features__desc">
								<p class="features__title">Expert level talks</p>
								<p class="features__p">Our curated lineup of speakers will address the most complex and interesting cases and challenges in React today.</p>
							</div>
						</div>

						<div class="features__item">
							<div class="features__img-wrap">
								<svg class="features__img" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#feature_3"></use>
								</svg>
							</div>
							<div class="features__desc">
								<p class="features__title">Advice lounge </p>
								<p class="features__p">Meet domain experts and community leaders one-on-one to address your problems and get personalized advice on the challenges you’re facing.</p>
							</div>

							<div class="advices-techs">
								<div class="advices-techs__item">
									<div class="advices-techs__img-wrap">
										<img src="img/logo-react.svg" />
									</div>
									<p class="advices-techs__title">React Native</p>
								</div>

								<div class="advices-techs__item">
									<div class="advices-techs__img-wrap">
										<img src="img/logo-graphql.svg" />
									</div>
									<p class="advices-techs__title">GraphQL</p>
								</div>

								<div class="advices-techs__item">
									<div class="advices-techs__img-wrap">
										<img src="img/logo-typescript.svg" />
									</div>
									<p class="advices-techs__title">TypeScript</p>
								</div>

								<div class="advices-techs__item">
									<div class="advices-techs__img-wrap">
										<img src="img/logo-reason.svg" />
									</div>
									<p class="advices-techs__title">Reason</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
