		<section class="section advice-lounge" id="advice">

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>A</span></span>dvice lounge
						</h3>
					</div>

					<div class="section__head-r">
						<p class="section__desc">
							Meet domain experts 1-1 to address your problems with the knowledge of community leaders
						</p>

<!--						<a class="basic-btn marged" href="advice-lounge.html">-->
<!--							<div class="basic-btn__inner">-->
<!--								<div class="basic-btn__arr-l">-->
<!--									<svg class="basic-btn__arrow" role="img" aria-hidden="true">-->
<!--										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow_r"></use>-->
<!--									</svg>-->
<!--								</div>-->
<!--								Tickets-->
<!--								<div class="basic-btn__arr-r">-->
<!--									<svg class="basic-btn__arrow" role="img" aria-hidden="true">-->
<!--										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow_r"></use>-->
<!--									</svg>-->
<!--								</div>-->
<!--							</div>-->
<!--						</a>-->
					</div>
				</div>

				<div class="team">

          <div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/christoph.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Christoph Nakazawa</p>
								<p class="team__company">Facebook, UK</p>

								<div class="team__info">
									👨🏻‍💻 Engineering Manager at Facebook · ⚛️ React Native · 🚇 Metro · 🃏 Jest · 📦 Yarn
								</div>
							</div>

							<div class="team__bottom">
								<div class="advices-techs">
									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<svg class="advices-techs__img react-native" role="img" aria-hidden="true" title="React Native">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#logo-react-native"></use>
											</svg>
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<svg class="advices-techs__img jest" role="img" aria-hidden="true" title="React Native">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#logo-jest"></use>
											</svg>
										</div>
									</div>
								</div>

								<ul class="socials">
									<li class="socials__item">
										<a href="http://github.com/cpojer" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/cpojer" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

          <div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/kitze.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Kitze</p>
								<p class="team__company">ReactAcademy, Poland</p>

								<div class="team__info">
									Teaching React & Javascript at React Academy. Cares about open source, made and maintains sizzy.co, custom-react-scripts, and mobx-router. He had the chance to work and experiment with a variety of languages and frameworks.
								</div>
							</div>

							<div class="team__bottom">
								<div class="advices-techs">
									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<svg class="advices-techs__img react" role="img" aria-hidden="true" title="React">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#logo-react"></use>
											</svg>
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<svg class="advices-techs__img graphql" role="img" aria-hidden="true" title="GraphQL">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#logo-graphql"></use>
											</svg>
										</div>
									</div>

									<!-- <div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<svg class="advices-techs__img typescript" role="img" aria-hidden="true" title="TypeScript">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#logo-typescript"></use>
											</svg>
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<svg class="advices-techs__img reason" role="img" aria-hidden="true" title="Reason">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#logo-reason"></use>
											</svg>
										</div>
									</div> -->
								</div>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/kitze" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/thekitze" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/michel.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Michel Weststrate</p>
								<p class="team__company">Freelance, Netherlands</p>

								<div class="team__info">
									Independent OSS maintainer, speaker, trainer & consultant. Author of MobX, mobx-state-tree, serializr, immer.
								</div>
							</div>

							<div class="team__bottom">
								<div class="advices-techs">
									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<svg class="advices-techs__img react" role="img" aria-hidden="true" title="React">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#logo-react"></use>
											</svg>
										</div>
									</div>

									<!-- <div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<svg class="advices-techs__img graphql" role="img" aria-hidden="true" title="GraphQL">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#logo-graphql"></use>
											</svg>
										</div>
									</div> -->

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<svg class="advices-techs__img typescript" role="img" aria-hidden="true" title="TypeScript">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#logo-typescript"></use>
											</svg>
										</div>
									</div>

									<!-- <div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<svg class="advices-techs__img reason" role="img" aria-hidden="true" title="Reason">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#logo-reason"></use>
											</svg>
										</div>
									</div> -->
								</div>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/mweststrate" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/mweststrate" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
