		<section class="section advice-lounge" id="advice">

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>A</span></span>dvice lounge
						</h3>
					</div>

					<div class="section__head-r">
						<p class="section__desc">
							Diversity, sharing of ideas, and critical thinking are the core values when it comes to selection of our speakers. Both React’s pros and its rising stars will take over two stages at React Day Berlin.<br/>
							They’ll shed light on all things puzzling your mind, be it architecture, Design Systems, GraphQL, Reason or other.
						</p>

						<a class="basic-btn marged" href="advice-lounge.html">
							<div class="basic-btn__inner">
								<div class="basic-btn__arr-l">
									<svg class="basic-btn__arrow" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow_r"></use>
									</svg>
								</div>
								Tickets
								<div class="basic-btn__arr-r">
									<svg class="basic-btn__arrow" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow_r"></use>
									</svg>
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="team">

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/emma.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Emma Brillhart</p>
								<p class="team__company">Formidable, US</p>

								<div class="team__info">
									Software Engineer, Team Lead, Co-Maintainer of Spectacle.
								</div>
							</div>

							<div class="team__bottom">
								<div class="advices-techs">
									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-react.svg" title="React">
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-graphql.svg" title="GraphQL">
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-typescript.svg" title="TypeScript">
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-reason.svg" title="Reason">
										</div>
									</div>
								</div>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/ebrillhart" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/emmabrillhart" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>


					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/emma.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Emma Brillhart</p>
								<p class="team__company">Formidable, US</p>

								<div class="team__info">
									Software Engineer, Team Lead, Co-Maintainer of Spectacle.
								</div>
							</div>

							<div class="team__bottom">
								<div class="advices-techs">
									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-react.svg" title="React">
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-graphql.svg" title="GraphQL">
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-typescript.svg" title="TypeScript">
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-reason.svg" title="Reason">
										</div>
									</div>
								</div>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/ebrillhart" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/emmabrillhart" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>


					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/emma.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Emma Brillhart</p>
								<p class="team__company">Formidable, US</p>

								<div class="team__info">
									Software Engineer, Team Lead, Co-Maintainer of Spectacle.
								</div>
							</div>

							<div class="team__bottom">
								<div class="advices-techs">
									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-react.svg" title="React">
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-graphql.svg" title="GraphQL">
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-typescript.svg" title="TypeScript">
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-reason.svg" title="Reason">
										</div>
									</div>
								</div>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/ebrillhart" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/emmabrillhart" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>


					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/emma.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Emma Brillhart</p>
								<p class="team__company">Formidable, US</p>

								<div class="team__info">
									Software Engineer, Team Lead, Co-Maintainer of Spectacle.
								</div>
							</div>

							<div class="team__bottom">
								<div class="advices-techs">
									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-react.svg" title="React">
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-graphql.svg" title="GraphQL">
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-typescript.svg" title="TypeScript">
										</div>
									</div>

									<div class="advices-techs__item">
										<div class="advices-techs__img-wrap">
											<img src="img/logo-reason.svg" title="Reason">
										</div>
									</div>
								</div>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/ebrillhart" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/emmabrillhart" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>