		<section class="section advice-lounge">

			<div class="advice-lounge__nav-link" id="advice"></div>

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>A</span></span>dvice lounge
						</h3>
					</div>

					<div class="section__head-r">
						<p class="section__desc">
							Meet domain experts and community leaders one-on-one to address your problems and get personalized advice on the challenges you’re facing.
						</p>

<!--						<a class="basic-btn marged" href="advice-lounge.html">-->
<!--							<div class="basic-btn__inner">-->
<!--								<div class="basic-btn__arr-l">-->
<!--									<svg class="basic-btn__arrow" role="img" aria-hidden="true">-->
<!--										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>-->
<!--									</svg>-->
<!--								</div>-->
<!--								Tickets-->
<!--								<div class="basic-btn__arr-r">-->
<!--									<svg class="basic-btn__arrow" role="img" aria-hidden="true">-->
<!--										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>-->
<!--									</svg>-->
<!--								</div>-->
<!--							</div>-->
<!--						</a>-->
					</div>
				</div>

				<div class="team">
					{% for item in adviceLounge %}
						{{mixins.speaker({
							img: item.img,
							name: item.name,
							company: item.company,
							info: item.info,
							advicesTechs: item.advicesTechs,
							scls: item.scls
						})}}
					{% endfor %}
				</div>
			</div>
		</section>
