		<section class="section follow-us {{ 'tall' if followUsTall }}" id="contacts">
			<div class="follow-us__decor-pipe"></div>
			<div class="follow-us__decor-fish"></div>
			<div class="follow-us__decor-sub"></div>

			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial"><span>F</span></span>ollow us  for updates
						</h3>

						<ul class="scls">
							<li class="scls__item">
								<a href="http://twitter.com/reactadvanced" target="_blank" class="scls__link">
									<svg class="scls__img soctw" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#scltw"></use>
									</svg>
								</a>
							</li>
							<li class="scls__item">
								<a href="https://youtube.com/c/ReactConferences" target="_blank" class="scls__link">
									<svg class="scls__img socyt" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#sclyt"></use>
									</svg>
								</a>
							</li>
							<li class="scls__item">
								<a href="https://www.facebook.com/ReactAdvanced" target="_blank" class="scls__link">
									<svg class="scls__img socfb" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#sclfb"></use>
									</svg>
								</a>
							</li>
							<li class="scls__item">
								<a href="https://medium.com/@ReactAdvanced" target="_blank" class="scls__link">
									<svg class="scls__img socmed" role="img" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#sclmed"></use>
									</svg>
								</a>
							</li>
						</ul>
					</div>

					<div class="section__head-r">
						<form class="subscribe-form" action="https://reactadvanced.us20.list-manage.com/subscribe/post?u=60e415b507eefaffa4de40e02&amp;id=7ac7afeb1f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
							<p class="subscribe-form__title">Subscribe for conference email updates to hear about the latest news and special deals:</p>

							<div class="subscribe-form__input-wrap">
								<input class="subscribe-form__input" type="email" name="EMAIL" id="mce-EMAIL" placeholder="your@email"/>
								<button class="subscribe-form__submit basic-btn" type="submit" name="subscribe" id="mc-embedded-subscribe">
									<div class="basic-btn__inner">
										<div class="basic-btn__arr-l">
											<svg class="basic-btn__arrow" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>
											</svg>
										</div>
										<div class="basic-btn__text">Subscribe</div>
										<div class="basic-btn__arr-r">
											<svg class="basic-btn__arrow" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>
											</svg>
										</div>
									</div>
								</button>
							</div>
			  				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60e415b507eefaffa4de40e02_7ac7afeb1f" tabindex="-1" value=""/></div>
						</form>
					</div>
				</div>


			</div>
		</section>
