	<footer class="footer">
		<div class="container">
			<div class="f-logo">
		<a href="https://gitnation.org" target="_blank">
				<div class="f-logo__desc">
					<p class="f-logo__by">Event by</p>
					<p class="f-logo__org">GitNation</p>
				</div>
		</a>
			</div>

			<div class="nav">
				<a class="nav__item js-scroll-to" href="/sponsors">Sponsorship opportunities</a>
				<a class="nav__item js-scroll-to" href="http://confcodeofconduct.com">Code of conduct</a>
				<a class="nav__item js-scroll-to" href="mailto:hi@reactadvanced.com">Email us!</a>
			</div>

			<div class="f-logo__dummy"></div>

			<a class="f-reserve basic-btn btn-green" href="https://www.eventbrite.com/e/react-advanced-conference-2019-tickets-59948809503">
				<svg class="basic-btn__arrow-l" role="img" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow_r"></use>
				</svg>
				<div class="basic-btn__inner">
					Early Bird Tickets
					<svg class="arrow-r" role="img" aria-hidden="true">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow_r"></use>
					</svg>
				</div>
			</a>
		</div>
	</footer><!-- .footer -->