	<footer class="footer">
		<div class="container">
			<div class="f-logo">
				<a href="https://gitnation.org" target="_blank">
					<div class="f-logo__desc">
						<p class="f-logo__by">Event by</p>
						<p class="f-logo__org">GitNation</p>
					</div>
				</a>
			</div>

			<div class="nav">
				<li class="nav__item">
					<a class="nav__link js-scroll-to" href="/sponsors">Sponsorship opportunities</a>
				</li>
				<li class="nav__item">
					<a class="nav__link js-scroll-to" href="/coc">Code of conduct</a>
				</li>
				<li class="nav__item">
					<a class="nav__link js-scroll-to" href="mailto:hi@reactadvanced.com">Email us!</a>
				</li>
<!--				<li class="nav__item">-->
<!--					<a class="nav__link js-scroll-to" href="/faq">FAQ</a>-->
<!--				</li>-->
			</div>

			<div class="f-logo__dummy"></div>

			<a class="f-reserve basic-btn btn-green" href="https://www.eventbrite.com/e/react-advanced-conference-2019-tickets-59948809503">
				<div class="basic-btn__inner">
					<div class="basic-btn__arr-l">
						<svg class="basic-btn__arrow" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>
						</svg>
					</div>
					Tickets
					<div class="basic-btn__arr-r">
						<svg class="basic-btn__arrow" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>
						</svg>
					</div>
				</div>
			</a>
		</div>
	</footer><!-- .footer -->
