		<section class="section give-back" id="give-back">

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial"><span>G</span></span>iving back to community
						</h3>

						<p class="section__desc">
							When we launched our first event five years ago, we never imagined we would welcome up to 1400 attendees at our events and organize four meetup groups and multiple spin-offs in Europe. Our secret? We welcome people from all walks of life in our community. We are a proud partner of initiatives like Unicorns in Tech, the global tech network for LGBT professionals and their straight allies.
						</p>
						<p class="section__desc">
							We know that supporting diversity inside and outside of IT takes more than mere statements, which is why our diversity scholarship programs are a key part of every conference we organize.
            </p>
						<p class="section__desc">
							In addition to our self-funded tickets pool, we're actively working with partner companies to sponsor more diversity scholarship tickets. Help make the React community a better place–support our scholarship programme!
						</p>
					</div>

					<div class="section__head-r">
						<div class="thank-progress">
							<div class="thank-progress__info">
								<p class="thank-progress__num">10 of 50</p>
								<p class="thank-progress__desc">extra diversity<br />scholarships<br />sponsored</p>
							</div>

							<div class="thank-progress__progress">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="give-back__btns">
					<a class="give-back__btn basic-btn btn-black" href="https://medium.com/@ReactAdvanced/react-advanced-conference-is-now-offering-diversity-scholarships-38cf42179e1f">
						<div class="basic-btn__inner">
							<div class="basic-btn__arr-l">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>
								</svg>
							</div>
							Apply for diversity scholarship
							<div class="basic-btn__arr-r">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>
								</svg>
							</div>
						</div>
					</a>

					<a class="give-back__btn basic-btn btn-green" href="mailto:hi@reactadvanced.com">
						<div class="basic-btn__inner">
							<div class="basic-btn__arr-l">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>
								</svg>
							</div>
							Sponsor diversity tickets
							<div class="basic-btn__arr-r">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>
								</svg>
							</div>
						</div>
					</a>
				</div>

			</div>
		</section>
