		<section class="section give-back" id="give-back">

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial"><span>G</span></span>iving back to community
						</h3>

						<p class="section__desc">
							When we established our JS meetup 9 years ago, we never imagined we would welcome up to 1400 attendees at our events and organize 4 meetups and multiple spin-offs in Europe. Our secret? We welcome people from all walks of life in our community, and we are a proud partner of initiatives like Unicorns in Tech, the global tech network for LGBT professionals and straight allies.
						</p>
						<p class="section__desc">
							We know that supporting diversity inside and outside IT must not end at mere statements, which is why are now developing diversity scholarship programs that will be announced in the coming weeks.</p>
						<p class="section__desc">
							On top of our self-funded tickets pool, we're greatly thankful to GitHub for sponsoring extra 35 tickets. Make React community a better place, support our scholarship programme!
						</p>
					</div>

					<div class="section__head-r">
						<div class="thank-progress">
							<div class="thank-progress__info">
								<p class="thank-progress__num">35 of 50</p>
								<p class="thank-progress__desc">extra diversity<br>scholarships<br>sponsored</p>
							</div>

							<div class="thank-progress__progress">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="give-back__btns">
					<a class="give-back__btn basic-btn btn-black" href="workshops.html">
						<div class="basic-btn__inner">
							<div class="basic-btn__arr-l">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow_r"></use>
								</svg>
							</div>
							Apply for diversity scholarship
							<div class="basic-btn__arr-r">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow_r"></use>
								</svg>
							</div>
						</div>
					</a>

					<a class="give-back__btn basic-btn btn-green" href="workshops.html">
						<div class="basic-btn__inner">
							<div class="basic-btn__arr-l">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow_r"></use>
								</svg>
							</div>
							Sponsor diversity tickets
							<div class="basic-btn__arr-r">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow_r"></use>
								</svg>
							</div>
						</div>
					</a>
				</div>

			</div>
		</section>