	<button class="menu-toggle">
		<span></span>
		<span></span>
	</button>

	<header class="header">
		<div class="container">
			<div class="header__logo">
				<div class="logo-mini ir">
					<a href="/" class="logo-mini__link">React Advanced London</a>
				</div>
			</div>

			<div class="header__nav">
				<nav class="nav">
					{% if inner %}
			            {% if pageWorkshop %}
			            <li class="nav__item"><a class="nav__link js-scroll-to" href="#about">About</a></li>
			            <li class="nav__item"><a class="nav__link js-scroll-to" href="#programmes">Programmes</a></li>
			            <!--<li class="nav__item"><a class="nav__link js-scroll-to" href="#trainers">Trainers</a></li>-->
			            {% endif %}
			            <li class="nav__item"><a class="nav__link" href="https://www.eventbrite.com/e/react-advanced-conference-2019-tickets-59948809503">Tickets</a></li>
			            <li class="nav__item"><a class="nav__link" href="/">Conference page</a></li>
			            {% if not pageFAQ %}<li class="nav__item"><a class="nav__link js-scroll-to" href="/faq">FAQ</a></li>{% endif %}
						{% else %}
			            <li class="nav__item"><a class="nav__link js-scroll-to" href="#event">About</a></li>
			            <li class="nav__item"><a class="nav__link js-scroll-to" href="#speakers">Speakers</a></li>
			            <li class="nav__item"><a class="nav__link js-scroll-to" href="#location">Location</a></li>
			            <li class="nav__item"><a class="nav__link js-scroll-to" href="#advice">Advice Lounge</a></li>
			            <li class="nav__item"><a class="nav__link js-scroll-to" href="#schedule">Talks</a></li>
			            <li class="nav__item"><a class="nav__link js-scroll-to" href="#workshops">Workshops</a></li>
<!--			            <li class="nav__item"><a class="nav__link js-scroll-to" href="#give-back">Diversity</a></li>-->
			            <li class="nav__item"><a class="nav__link js-scroll-to" href="/react-jobs">React Jobs</a></li>
			            <li class="nav__item"><a class="nav__link js-scroll-to" href="#sponsors">Sponsors</a></li>
			            <li class="nav__item"><a class="nav__link js-scroll-to" href="/faq">FAQ</a></li>
					{% endif %}
				</nav>
			</div>

			<div class="header__scls">
				<ul class="scls">
					<li class="scls__item">
						<a href="http://reactadvanced.com/slack" target="_blank" class="scls__link">
							<svg class="scls__img sclsl" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#sclsl"></use>
							</svg>
						</a>
					</li>
					<li class="scls__item">
						<a href="http://twitter.com/reactadvanced" target="_blank" class="scls__link">
							<svg class="scls__img scltw" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#scltw"></use>
							</svg>
						</a>
					</li>
					<li class="scls__item">
						<a href="https://youtube.com/c/ReactConferences" target="_blank" class="scls__link">
							<svg class="scls__img sclyt" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#sclyt"></use>
							</svg>
						</a>
					</li>
					<li class="scls__item">
						<a href="https://www.facebook.com/ReactAdvanced" target="_blank" class="scls__link">
							<svg class="scls__img sclfb" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#sclfb"></use>
							</svg>
						</a>
					</li>
					<li class="scls__item">
						<a href="https://medium.com/@ReactAdvanced" target="_blank" class="scls__link">
							<svg class="scls__img sclmed" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#sclmed"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header><!-- .header -->
