	<button class="menu-toggle">
		<span></span>
		<span></span>
	</button>

	<header class="header">
		<div class="container">
			<div class="header__logo">
				<div class="logo-mini ir">
					<a href="/" class="logo-mini__link">React Advanced London</a>
				</div>
			</div>

			<div class="header__nav">
				<nav class="nav">
					{% if inner %}
            {% if pageWorkshop %}
              <li class="nav__item"><a class="nav__link js-scroll-to" href="#about">About</a></li>
              <li class="nav__item"><a class="nav__link js-scroll-to" href="#programmes">Programmes</a></li>
              <!--<li class="nav__item"><a class="nav__link js-scroll-to" href="#trainers">Trainers</a></li>-->
            {% endif %}
            <li class="nav__item"><a class="nav__link" href="https://www.eventbrite.com/e/react-advanced-conference-2019-tickets-59948809503">Tickets</a></li>
            <li class="nav__item"><a class="nav__link" href="/">Conference page</a></li>
            {% if not pageFAQ %}<li class="nav__item"><a class="nav__link js-scroll-to" href="/faq">FAQ</a></li>{% endif %}
					{% else %}
            <li class="nav__item"><a class="nav__link js-scroll-to" href="#event">About</a></li>
            <li class="nav__item"><a class="nav__link js-scroll-to" href="#speakers">Speakers</a></li>
            <li class="nav__item"><a class="nav__link js-scroll-to" href="#location">Location</a></li>
            <li class="nav__item"><a class="nav__link js-scroll-to" href="#advice">Advice Lounge</a></li>
            <li class="nav__item"><a class="nav__link js-scroll-to" href="#schedule">Talks</a></li>
            <li class="nav__item"><a class="nav__link js-scroll-to" href="#workshops">Workshops</a></li>
            <li class="nav__item"><a class="nav__link js-scroll-to" href="#give-back">Diversity</a></li>
            <li class="nav__item"><a class="nav__link js-scroll-to" href="#sponsors">Sponsors</a></li>
            <li class="nav__item"><a class="nav__link js-scroll-to" href="/faq">FAQ</a></li>
					{% endif %}
				</nav>
			</div>

			<div class="header__socials">
				<ul class="socials">
					<!-- <li class="socials__item">
						<a href="#" target="_blank" class="socials__link">
							<svg class="socials__img sl" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_sl"></use>
							</svg>
						</a>
					</li> -->
					<li class="socials__item">
						<a href="http://twitter.com/reactadvanced" target="_blank" class="socials__link">
							<svg class="socials__img tw" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_tw"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a href="https://youtube.com/c/ReactConferences" target="_blank" class="socials__link">
							<svg class="socials__img yt" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_yt"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a href="https://www.facebook.com/ReactAdvanced" target="_blank" class="socials__link">
							<svg class="socials__img fb" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_fb"></use>
							</svg>
						</a>
					</li>
					<li class="socials__item">
						<a href="https://medium.com/@ReactAdvanced" target="_blank" class="socials__link">
							<svg class="socials__img med" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v2#socials_med"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header><!-- .header -->
