		<section class="section intro {{intro.mod}}" id="intro">
			<div class="container">

				<div class="intro__content">
					<div class="logo ir {{intro.logoMod}}">
						<a href="/" class="logo__link">React Advanced London</a>
					</div>

					{% if intro.index %}
					<div class="intro__octo">
						<div class="intro__octo-text">We will be<br/> diving deep</div>
					</div>

					<p class="intro__desc">
						<!--JavaScript is #1 on demand programming language in the world with 25 millions of developers behind it. Meet the ones who shape out the now and the future of the prospering nation-->
					</p>
					{% endif %}

					{% if intro.desc %}
					<p class="logo-desc">
						{{intro.desc | safe}}
					</p>
					{% endif %}

					{% if intro.stats %}
					<div class="stats">
						{% for stat in intro.stats %}
						<div class="stats__item">
							<p class="stats__num"><span>{{stat.num}}</span></p>
							<p class="stats__desc">{{stat.desc | safe}}</p>
						</div>
						{% endfor %}
					</div>
					{% endif %}

					{% if intro.index %}
					<a class="intro__important-guys" href="https://focusreactive.com/" target="_blank"></a>

					<div class="big-day">
						<div class="big-day__wrap">
							<div class="big-day__mon">
								<span>O</span>ctober
							</div>
							<div class="big-day__date"><span>25th, 2019</span></div>
						</div>
					</div>

					<a class="intro__reserve basic-btn" href="https://www.eventbrite.com/e/react-advanced-conference-2019-tickets-59948809503">
						<div class="basic-btn__inner">
							<div class="basic-btn__arr-l">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>
								</svg>
							</div>
							Tickets
							<div class="basic-btn__arr-r">
								<svg class="basic-btn__arrow" role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v3#arrow_r"></use>
								</svg>
							</div>
						</div>
					</a>
					{% endif %}
				</div>

			</div>
		</section>
