		<section class="section mcs" id="mcs">

			<div class="mcs__decor-fish"></div>
			<div class="mcs__decor-sub"></div>

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial"><span>M</span></span>eet your MC's
						</h3>
					</div>
				</div>

				<div class="team-mc">
					<div class="team-mc__item">
						<div class="team-mc__img-wrap">
							<img src="pic/speakers/emma.jpg"/>
						</div>

						<div class="team-mc__content">
							<div class="team-mc__head">
								<p class="team-mc__name">Emma Brillhart</p>
								<p class="team-mc__company">Formidable, US</p>
							</div>

							<div class="team-mc__desc">
								<div class="team-mc__info">
									Jani, a veteran of the Frontend Framework wars, has earned his battle scars writing JavaScript on the bleeding edge for the last decade. Today, he leads a team building cross-stack React mobile and web apps at
								</div>
							</div>

							<div class="team-mc__bottom">
								<p class="team-mc__tag">Patterns</p>

								<ul class="scls">
									<li class="scls__item">
										<a href="https://github.com/ebrillhart" target="_blank" class="scls__link">
											<svg class="scls__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#sclgh"></use>
											</svg>
										</a>
									</li>
									<li class="scls__item">
										<a href="https://twitter.com/emmabrillhart" target="_blank" class="scls__link">
											<svg class="scls__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#scltw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team-mc__item">
						<div class="team-mc__img-wrap">
							<img src="pic/speakers/emma.jpg"/>
						</div>

						<div class="team-mc__content">
							<div class="team-mc__head">
								<p class="team-mc__name">Emma Brillhart</p>
								<p class="team-mc__company">Formidable, US</p>
							</div>

							<div class="team-mc__desc">
								<div class="team-mc__info">
									Jani, a veteran of the Frontend Framework wars, has earned his battle scars writing JavaScript on the bleeding edge for the last decade. Today, he leads a team building cross-stack React mobile and web apps at
								</div>
							</div>

							<div class="team-mc__bottom">
								<p class="team-mc__tag">Patterns</p>

								<ul class="scls">
									<li class="scls__item">
										<a href="https://github.com/ebrillhart" target="_blank" class="scls__link">
											<svg class="scls__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#sclgh"></use>
											</svg>
										</a>
									</li>
									<li class="scls__item">
										<a href="https://twitter.com/emmabrillhart" target="_blank" class="scls__link">
											<svg class="scls__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg?v4#scltw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
