		<section class="section party" id="party">
			
			<div class="party__decor-disco"></div>
			<div class="party__decor-scratch"></div>

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial"><span>R</span></span>eact - fuel for a great party
						</h3>

						<div class="section__desc">Fun is relative, but there’s no chance to be bored in Berlin, one of the party capitals of the world. Our afterparty and comedy show will make React Day Berlin the tech event of the year!</div>
					</div>
				</div>

				<div class="team-mc">
					<div class="team-mc__item">
						<div class="team-mc__img-wrap">
							<img src="pic/speakers/emma.jpg">
						</div>

						<div class="team-mc__content">
							<div class="team-mc__head">
								<p class="team-mc__name">Emma Brillhart</p>
								<p class="team-mc__company">Formidable, US</p>
							</div>
							
							<div class="team-mc__desc">
								<div class="team-mc__info">
									Jani, a veteran of the Frontend Framework wars, has earned his battle scars writing JavaScript on the bleeding edge for the last decade. Today, he leads a team building cross-stack React mobile and web apps at 
								</div>
							</div>
						</div>
					</div>

					<div class="team-mc__item">
						<div class="team-mc__img-wrap">
							<img src="pic/speakers/emma.jpg">
						</div>

						<div class="team-mc__content">
							<div class="team-mc__head">
								<p class="team-mc__name">Emma Brillhart</p>
								<p class="team-mc__company">Formidable, US</p>
							</div>
							
							<div class="team-mc__desc">
								<div class="team-mc__info">
									Jani, a veteran of the Frontend Framework wars, has earned his battle scars writing JavaScript on the bleeding edge for the last decade. Today, he leads a team building cross-stack React mobile and web apps at 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>