		<section class="section party" id="party">

			<div class="party__decor-disco"></div>
			<div class="party__decor-scratch"></div>

			<div class="container">
				<div class="party__sponsor">
					Party sponsored by
					<a href="https://fewandfar.io/" target="_blank"><img src="pic/sponsors/fewfar.png"/></a>
				</div>

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title">
							<span class="initial"><span>R</span></span>eact - fuel for a great party
						</h3>

						<div class="section__desc">Fun is relative, but there’s no chance to be bored in London, one of the party capitals of the world. Our afterparty and comedy show will make React Advanced the tech event of the year!</div>
					</div>
				</div>

				<div class="team-mc">
					<div class="team-mc__item">
						<div class="team-mc__img-wrap">
							<img src="pic/dj-ken.jpg"/>
						</div>

						<div class="team-mc__content">
							<div class="team-mc__head">
								<p class="team-mc__name">DJ Ken Wheeler</p>
								<p class="team-mc__company"></p>
							</div>

							<div class="team-mc__desc">
								<div class="team-mc__info">
									Our keynote speaker, and respected React community member will play a Synthwave set including his own production (also available on Spotify).
								</div>
							</div>
						</div>
					</div>

					<div class="team-mc__item">
						<div class="team-mc__img-wrap">
							<img src="pic/polyop.jpg"/>
						</div>

						<div class="team-mc__content">
							<div class="team-mc__head">
								<p class="team-mc__name">POLYOP</p>
								<p class="team-mc__company">WebGL, React, Web Audio API, and Web MIDI API, UK</p>
							</div>

							<div class="team-mc__desc">
								<div class="team-mc__info">
									An electronic music and audiovisual group from London, established by producer Jack Driscoll and visual artist Alex Kempton in 2016. The visuals in their show have been created entirely in Javascript using WebGL. Polyop have developed a spectacular audiovisual show set in an alternate universe. The show follows a mysterious demi-god across the polyhedral-plane, inhabited by strange planets, entities and nomad aliens, to the sound of 90’s techno breakbeat and acid performed live on hardware synthesisers and drum machines.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
