<!-- 		<section class="section schedule" id="schedule">
			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>S</span></span>chedule
						</h3>
					</div>
				</div>

				<div class="content-tab">
					<button class="content-tab__tab js-tabs__tab active" id="general-tab">West hall</button>
					<button class="content-tab__tab js-tabs__tab" id="react-tab">East hall</button>

					<div class="content-tab__octo"></div>
				</div>

				<ul class="schedule-list js-tabs__panel active" id="general-panel">
					<li class="schedule-list__item green disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>8:30</span></div>
							<div class="schedule-list__desc">
								<div class="schedule-list__title"><span>Registration starts</span></div>
							</div>
						</div>
					</li>

					<li class="schedule-list__item green disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>9:10</span></div>
							<div class="schedule-list__desc">
								<div class="schedule-list__title"><span>Conference openning</span></div>
							</div>
						</div>
					</li>

					<li class="schedule-list__item clickable">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>9:20</span></div>
							<div class="schedule-list__desc">
								<div class="schedule-list__title"><span>The New Hotness: An Exploration  of Reacts Exciting New Feature</span></div>
								<div class="schedule-list__speaker">Ken Wheeler</div>

								<div class="schedule-list__info">
									<p class="schedule-list__p">
										PASTE DESCRIPTION
									</p>
								</div>
							</div>
						</div>
					</li>

					<li class="schedule-list__item clickable">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>10.00</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Powering Code Reuse with Context  and Render Props</span></h3>
								<p class="schedule-list__speaker">Forbes Lindsay</p>

								<div class="schedule-list__info">
									<p class="schedule-list__p">
										PASTE DESCRIPTION
									</p>
								</div>
							</div>
						</div>
					</li>

					<li class="schedule-list__item clickable disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>10.30</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Feature Driven Architecture</span></h3>
								<p class="schedule-list__speaker">Oleg Isonen</p>

								<div class="schedule-list__info">
									<p class="schedule-list__p">
										PASTE DESCRIPTION
									</p>
								</div>
							</div>
						</div>
					</li>

					<li class="schedule-list__item green disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>11.00</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Coffee break</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item clickable">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>11:30</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Secrets to a Successful Design  System</span></h3>
								<p class="schedule-list__speaker">Monica Lent</p>

								<div class="schedule-list__info">
									<p class="schedule-list__p">
										PASTE DESCRIPTION
									</p>
								</div>
							</div>
						</div>
					</li>

					<li class="schedule-list__item clickable">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>12.00</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Tip Top Testing in JavaScript</span></h3>
								<p class="schedule-list__speaker">Jack Franklin</p>

								<div class="schedule-list__info">
									<p class="schedule-list__p">
										PASTE DESCRIPTION
									</p>
								</div>
							</div>
						</div>
					</li>

					<li class="schedule-list__item clickable disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>12.30</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Lightning talks</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item green disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>13.00</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Lunch & networking</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>14:00</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>GitNation Open Source Stage</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item clickable">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>14:30 </span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Navigating the Hype-Driven Frontend Development World Without Going Insane</span></h3>
								<p class="schedule-list__speaker">Kitze</p>

								<div class="schedule-list__info">
									<p class="schedule-list__p">
										PASTE DESCRIPTION
									</p>
								</div>
							</div>
						</div>
					</li>

					<li class="schedule-list__item clickable">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>15:00</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Writing Your Own React Renderer</span></h3>
								<div class="schedule-list__speaker">Raphael Amorim</div>

								<div class="schedule-list__info d-block">
									<p class="schedule-list__p">
										Thanks to React's component-oriented architecture, the React community has been naturally gravitating towards design systems as a way of standardising our respective design languages into reusable components. When done successfully, it suddenly becomes trivial to translate standard designs into code. In fact, we may even find that this translation step starts to feel somewhat redundant. In a world of components, how should our design processes change? How should our tooling change? How should we, as React developers, better enable this change? In this talk, we'll look at the current state of design and developersment, and where we could go—if we're willing to push for it.
									</p>
								</div>
							</div>
						</div>
					</li>

					<li class="schedule-list__item clickable disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>15:30 </span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Structure Your App's Story With  Sagas and Selectors</span></h3>
								<div class="schedule-list__speaker">Rebecca Hill</div>

								<div class="schedule-list__info">
									<p class="schedule-list__p">
										Thanks to React's component-oriented architecture, the React community has been naturally gravitating towards design systems as a way of standardising our respective design languages into reusable components. When done successfully, it suddenly becomes trivial to translate standard designs into code. In fact, we may even find that this translation step starts to feel somewhat redundant. In a world of components, how should our design processes change? How should our tooling change? How should we, as React developers, better enable this change? In this talk, we'll look at the current state of design and developersment, and where we could go—if we're willing to push for it.
									</p>
								</div>
							</div>
						</div>
					</li>

					<li class="schedule-list__item green disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>16:00</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Coffee break</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item clickable">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>16:30</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Optimizing the Critical Rendering  Path in React</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item clickable">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>17:00</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>The Lonely and Dark Road to  Styling in React</span></h3>
								<div class="schedule-list__speaker">Sara Vieira</div>

								<div class="schedule-list__info">
									<p class="schedule-list__p">
										PASTE DESCRIPTION
									</p>
								</div>
							</div>
						</div>
					</li>

					<li class="schedule-list__item disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>17:30</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Closing of day programme</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item green disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>18:00</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>1.5h break (outside venue)</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item green disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>19:30</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Party starts</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item green disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>20:00</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>#componentDidSmoosh Comedy Show</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item green disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>21:00</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>DJ Mila Chiral & VJ Kalma</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item green disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>22:30 </span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Party ends</span></h3>
							</div>
						</div>
					</li>
				</ul>

				<ul class="schedule-list js-tabs__panel" id="react-panel">
					<li class="schedule-list__item">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>19:30</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Party starts</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>19:30</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Party starts</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>19:30</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Party starts</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>19:30</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Party starts</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>19:30</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Party starts</span></h3>
							</div>
						</div>
					</li>

					<li class="schedule-list__item disconnected">
						<div class="schedule-list__line">
							<div class="schedule-list__time"><span>19:30</span></div>
							<div class="schedule-list__desc">
								<h3 class="schedule-list__title"><span>Party starts</span></h3>
							</div>
						</div>
					</li>
				</ul>

			</div>
		</section> -->

		<section class="section schedule" id="schedule">
			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>T</span></span>alks
						</h3>
					</div>
				</div>

				<!-- <div class="content-tab">
					<button class="content-tab__tab js-tabs__tab active" id="general-tab">West hall</button>
					<button class="content-tab__tab js-tabs__tab" id="react-tab">East hall</button>

					<div class="content-tab__octo"></div>
				</div> -->

				<ul class="schedule-list js-tabs__panel active no-margin" id="general-panel">
					{% for item in scheduleEast %}
					{{mixins.schedule({
						time: item.time,
						title: item.title,
						speaker: item.speaker,
						desc: item.desc,
						disconnected: item.disconnected
					})}}
					{% endfor %}
				</ul>

				<!-- <ul class="schedule-list js-tabs__panel" id="react-panel">
					{% for item in scheduleWest %}
					{{mixins.schedule({
						time: item.time,
						title: item.title,
						speaker: item.speaker,
						desc: item.desc,
						disconnected: item.disconnected
					})}}
					{% endfor %}
				</ul> -->

			</div>
		</section>

		<section class="section schedule">
			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>L</span></span>ightning Talks
						</h3>
					</div>
				</div>

				<div class="content-tab">
					<button class="content-tab__tab js-tabs__tab active" id="general-le-tab">West hall</button>
					<button class="content-tab__tab js-tabs__tab" id="react-le-tab">East hall</button>

					<div class="content-tab__octo"></div>
				</div>

				<ul class="schedule-list js-tabs__panel active" id="general-le-panel">
					{% for item in scheduleLTEast %}
					{{mixins.schedule({
						time: item.time,
						title: item.title,
						speaker: item.speaker,
						desc: item.desc,
						disconnected: item.disconnected
					})}}
					{% endfor %}
				</ul>

				<ul class="schedule-list js-tabs__panel" id="react-le-panel">
					{% for item in scheduleLTWest %}
					{{mixins.schedule({
						time: item.time,
						title: item.title,
						speaker: item.speaker,
						desc: item.desc,
						disconnected: item.disconnected
					})}}
					{% endfor %}
				</ul>

			</div>
		</section>
