		<section class="section speakers" id="speakers">
			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial o">F</span>irst speakers
						</h3>
					</div>

					<div class="section__head-r">
						<p class="section__desc">Core contributors, community leaders and seasoned application engineers will take over two stages at React Advanced Conferences. They’ll shed light on all things puzzling your mind, be it micro-services architecture, Design Systems, GraphQL, types, testing strategies or other.</p>
					</div>
				</div>

				<div class="team">

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/ken.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Ken Wheeler</p>
								<p class="team__company">React Artist, US</p>

								<div class="team__info">
									Core Architecture@[REDACTED], ReactJS Advocate, Speaker, Producer, Synthwave Artist, Google Dev Expert.
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">Keynote</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/kenwheeler" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/ken_wheeler" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/rachel.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Rachel Nabors</p>
								<p class="team__company">Facebook, UK</p>

								<div class="team__info">
                  Rachel Nabors began telling <a href="http://rachelnabors.com" target="_blank">stories online</a> as a teenager with her award-winning <a href="http://rachelthegreat.com" target="_blank">web comics</a>. Her love of web technologies transformed into a career in front end development, where she has worked with Mozilla, the W3C, and Microsoft to build the web forward. At the moment, she's working at Facebook React Core team addressing documentation improvements.
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">React Core</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/rachelnabors" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/rachelnabors" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/jared.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Jared Palmer</p>
								<p class="team__company">Palmer Group, US</p>

								<div class="team__info">
									Engineering Lead, co-host of The Undefined Podcast, Open Source Samurai, creator of Formik, Razzle, Backpack, After.js, react-fns.
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">Architecture</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/jaredpalmer" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/jaredpalmer" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/shawn.jpeg">
							</div>

							<div class="team__content">
								<p class="team__name">Shawn Swyx Wang</p>
								<p class="team__company">Netlify, US</p>

								<div class="team__info">
									Swyx is an Infinite Builder working on Developer Experience at Netlify. In his free time he helps people Learn in Public at Egghead.io and /r/reactjs.
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">Under-the-hood</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/sw-yx" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/swyx" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/emma.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Emma Brillhart</p>
								<p class="team__company">Formidable, US</p>

								<div class="team__info">
									Software Engineer, Team Lead, Co-Maintainer of Spectacle.
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">Patterns</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/ebrillhart" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/emmabrillhart" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/mike.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Mike Grabowski</p>
								<p class="team__company">Callstack, Poland</p>

								<div class="team__info">
									Head of Open Source at Callstack, React Native Core Contributor.
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">React Native</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/grabbou" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/grabbou" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://medium.com/@grabbou" target="_blank" class="socials__link">
											<svg class="socials__img med" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_med"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/nik.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Nik Graf</p>
								<p class="team__company">Freelance, Austria</p>

								<div class="team__info">
                  Passionate about ReasonML, WebVR, Skiing & Triathlons. Co-Creator of DraftJS Plugins & Polished. Organizer at ReasonConf.
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">Reason</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/nikgraf" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/nikgraf" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/laura.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Laura Medalia</p>
								<p class="team__company">Tech Lead, US</p>

								<div class="team__info">
									Software Engineer working at a health tech startup in NYC. Also runs a <a href="https://www.lauramedalia.com/blog">blog all about tech</a>, fashion, productivity, and career tips.
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">React Native</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://twitter.com/codergirl__" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/vladimir.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Vladimir Novick</p>
								<p class="team__company">Hasura, Israel</p>

								<div class="team__info">
									Developer advocate at hasura.io, Google Developer Expert, consultant, worldwide speaker, published author, host of the 3factorRadio podcast and OSS contributor. Currently, Vladimir works with Web, Mobile, VR, AR, and IoT technologies and advocates the use of GraphQL and serverless architectures as well as functional languages such as ReasonML.
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">GraphQL</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/vnovick" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/VladimirNovick" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="http://vnovick.com" target="_blank" class="socials__link">
											<svg class="socials__img web" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_web"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

          <div class="team__item-wrap">
						<div class="team__item">
							<div class="team__img-wrap">
								<img src="pic/speakers/olga.jpg">
							</div>

							<div class="team__content">
								<p class="team__name">Olga Petrova</p>
								<p class="team__company">Sencha, Germany</p>

								<div class="team__info">
									Software developer with more than 14 years of experience in developing applications. Worked with a broad range of web technologies, JavaScript frameworks, and have a special interest in data visualization.
								</div>
							</div>

							<div class="team__bottom">
								<p class="team__tag">AI</p>

								<ul class="socials">
									<li class="socials__item">
										<a href="https://github.com/olga-petrova" target="_blank" class="socials__link">
											<svg class="socials__img gh" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_gh"></use>
											</svg>
										</a>
									</li>
									<li class="socials__item">
										<a href="https://twitter.com/tyoushe" target="_blank" class="socials__link">
											<svg class="socials__img tw" role="img" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#socials_tw"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="team__item-wrap fill-width">
						<div class="team__item">
							<a class="basic-btn btn-green" href="https://forms.gle/yiCsoLLwSKnTmeVn7">
								<div class="basic-btn__inner">
									<div class="basic-btn__arr-l">
										<svg class="basic-btn__arrow" role="img" aria-hidden="true">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow_r"></use>
										</svg>
									</div>
									Submit Your Talk
									<div class="basic-btn__arr-r">
										<svg class="basic-btn__arrow" role="img" aria-hidden="true">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow_r"></use>
										</svg>
									</div>
								</div>
							</a>
						</div>
					</div>
			  </div>
			</div>
		</section>

