		<section class="section speakers" id="speakers">
			<div class="container">

				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial o">F</span>irst speakers
						</h3>
					</div>

					<div class="section__head-r">
						<p class="section__desc">Core contributors, community leaders and seasoned application engineers will take over two stages at React Advanced Conferences. They’ll shed light on all things puzzling your mind, be it micro-services architecture, Design Systems, GraphQL, types, testing strategies or other.</p>
					</div>
				</div>

				<div class="team">
					{% for item in speakers %}
						{{mixins.speaker({
							img: item.img,
							name: item.name,
							company: item.company,
							info: item.info,
							tag: item.tag,
							socials: item.socials
						})}}
					{% endfor %}
				</div>
			</div>
		</section>

