		<section class="section sponsors" id="sponsors">

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>S</span></span>ponsors
						</h3>
					</div>

					<div class="section__head-r">
<!--						<div class="section__desc">Would like to work together with the most notable React community supporters in Berlin?</div>-->
						<div class="section__desc">Would you like to support a growing React community in London and improve the visibility of your tech/employer brand?</div>
						<div class="section__desc"><a href="/sponsors">Check our partnership packages for 2019</a></div>
					</div>
				</div>

				<div class="sponsors-list">
					<div class="sponsors-list__title">Gold</div>

					<div class="sponsors-list__list gold">
						<a class="sponsors-list__item" href="https://aws.amazon.com/" target="_blank">
							<img src="pic/sponsors/aws.png">
						</a>
						<a class="sponsors-list__item" href="https://focusreactive.com/" target="_blank">
							<img src="pic/sponsors/focus-reactive.png">
						</a>
					</div>

					<div class="sponsors-list__sep"></div>

					<div class="sponsors-list__title">Silver</div>

					<div class="sponsors-list__list silver">
						<a class="sponsors-list__item" href="https://www.theodo.co.uk/" target="_blank">
							<img src="pic/sponsors/theodo.png">
						</a>
						<a class="sponsors-list__item" href="https://formidable.com/" target="_blank">
							<img src="pic/sponsors/formidable.png">
						</a>
					</div>

					<div class="sponsors-list__sep"></div>

					<div class="sponsors-list__title">Partners</div>

					<div class="sponsors-list__list partners">
						<a class="sponsors-list__item" href="https://www.stickermule.com" target="_blank">
							<img src="pic/sponsors/stickermule.png">
						</a>
						<a class="sponsors-list__item" href="https://www.meetup.com/ReactJS-Girls-London/" target="_blank">
							<img src="pic/sponsors/react-girls.png">
						</a>
					</div>

				</div>
			</div>
		</section>
