		<section class="section sponsors" id="sponsors">

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>S</span></span>ponsors
						</h3>
					</div>

					<div class="section__head-r">
						<div class="section__desc">Would like to work together with the most notable React community supporters in Berlin?</div>
						<div class="section__desc"><a href="#">Check out the React job offers form our partners.</a></div>
					</div>
				</div>

				<div class="sponsors-list">
					<div class="sponsors-list__title">Gold</div>

					<div class="sponsors-list__list gold">
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/gold1.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/gold2.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/gold3.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/gold4.png">
						</a>
					</div>

					<div class="sponsors-list__sep"></div>

					<div class="sponsors-list__title">Silver</div>

					<div class="sponsors-list__list silver">
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/silver1.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/silver2.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/silver3.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/silver4.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/silver5.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/silver6.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/silver7.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/silver8.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/silver9.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/silver10.png">
						</a>
					</div>

					<div class="sponsors-list__sep"></div>

					<div class="sponsors-list__title">Partners</div>

					<div class="sponsors-list__list partners">
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner1.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner2.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner3.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner4.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner5.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner6.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner7.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner8.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner9.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner10.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner11.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner12.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner13.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner14.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner15.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner16.png">
						</a>
						<a class="sponsors-list__item" href="#">
							<img src="pic/sponsors/partner17.png">
						</a>
					</div>

				</div>

				
			</div>
		</section>