		<section class="section sponsors" id="sponsors">

			<div class="container">
				<div class="section__head">
					<div class="section__head-l">
						<h3 class="section__title with-dots">
							<span class="initial"><span>S</span></span>ponsors
						</h3>
					</div>

					<div class="section__head-r">
<!--						<div class="section__desc">Would you like to support a growing React community in London and improve the visibility of your tech/employer brand?</div>-->
<!--						<div class="section__desc"><a href="/sponsors">Check our partnership packages for 2019</a></div>-->

						<div class="section__desc">Would like to work together with the most notable React community supporters?</div>
						<div class="section__desc"><a href="/react-jobs">Have a loot at our partner job openings</a></div>
					</div>
				</div>

				<div class="sponsors-list">
					{% for item in sponsors %}
					{{mixins.sponsors({
						title: item.title,
						mod: item.mod,
						logos: item.logos,
						last: item.last
					})}}
					{% endfor %}
				</div>
			</div>
		</section>
