.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-O {
	font-size:(120/16)*1rem;
	width:(54/120)*1em;
}
.icon-W {
	font-size:(135/16)*1rem;
	width:(129/135)*1em;
}
.icon-arrow_r {
	font-size:(11.4/16)*1rem;
	width:(25.4/11.4)*1em;
}
.icon-dummy {
	font-size:(40/16)*1rem;
	width:(40/40)*1em;
}
.icon-feature_1 {
	font-size:(51/16)*1rem;
	width:(53/51)*1em;
}
.icon-feature_2 {
	font-size:(51/16)*1rem;
	width:(67/51)*1em;
}
.icon-feature_3 {
	font-size:(52/16)*1rem;
	width:(51/52)*1em;
}
.icon-socials_fb {
	font-size:(12/16)*1rem;
	width:(6/12)*1em;
}
.icon-socials_gh {
	font-size:(20/16)*1rem;
	width:(21/20)*1em;
}
.icon-socials_med {
	font-size:(12/16)*1rem;
	width:(15.07/12)*1em;
}
.icon-socials_sl {
	font-size:(14.219/16)*1rem;
	width:(14.216/14.219)*1em;
}
.icon-socials_tw {
	font-size:(12/16)*1rem;
	width:(14.96/12)*1em;
}
.icon-socials_yt {
	font-size:(12/16)*1rem;
	width:(17/12)*1em;
}
