<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>React Advanced London Conference, Oct 25, 2019</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="ReactJS, React, React Native, Reason, GraphQL framework, JavaScript, development, Facebook, workshops, conference" />
	<meta name="description" content="React Advanced is London based community and a conference, addressing most complex and trickiest to solve topics. Engineers of any level are welcome, but be prepared for hardcore." />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="css/style.min.css" />
	<meta property="og:url" content="https://reactadvanced.com"/>
	<meta property="og:title" content="React Advanced London Conference, Oct 25, 2019"/>
	<meta property="og:description" content="React Advanced is London based community and a conference, addressing most complex and trickiest to solve topics. Engineers of any level are welcome, but be prepared for hardcore."/>
	<meta property="og:image" content="https://reactadvanced.com/pic/og-image2.jpg"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@reactadvanced"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link rel="shortcut icon" href="img/favicon.png"/>
</head>

<body>

<div class="wrapper">

	{% block content %}
	{% endblock %}

</div>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5ca4d31d67e90a079f05add6');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>
