%svg-common {
	background: url("../sprite.svg") no-repeat;
}

.svg-arrow-l {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-arrow-l-dims {
	width: 7.9px;
	height: 13.4px;
}

.svg-arrow-r {
	@extend %svg-common;
	background-position: 1.5411288769023308% 2.8536485935589075%;
}

.svg-arrow-r-dims {
	width: 7.9px;
	height: 13.4px;
}

.svg-arrow_r {
	@extend %svg-common;
	background-position: 3.189792663476874% 5.684125050751116%;
}

.svg-arrow_r-dims {
	width: 25.4px;
	height: 11.4px;
}

.svg-feature_1 {
	@extend %svg-common;
	background-position: 8.484848484848484% 8.452906743306356%;
}

.svg-feature_1-dims {
	width: 32px;
	height: 30.79px;
}

.svg-feature_2 {
	@extend %svg-common;
	background-position: 14.94949494949495% 14.802768743224085%;
}

.svg-feature_2-dims {
	width: 32px;
	height: 24.36px;
}

.svg-feature_3 {
	@extend %svg-common;
	background-position: 21.387353214156008% 20.338983050847457%;
}

.svg-feature_3-dims {
	width: 31.38px;
	height: 32px;
}

.svg-logo-css-modules {
	@extend %svg-common;
	background-position: 27.87878787878788% 26.792255363683935%;
}

.svg-logo-css-modules-dims {
	width: 32px;
	height: 26.25px;
}

.svg-logo-graphql {
	@extend %svg-common;
	background-position: 34.135175294164895% 32.83898305084746%;
}

.svg-logo-graphql-dims {
	width: 28.98px;
	height: 32px;
}

.svg-logo-jest {
	@extend %svg-common;
	background-position: 39.967062320499686% 39.61864406779661%;
}

.svg-logo-jest-dims {
	width: 29.09px;
	height: 32px;
}

.svg-logo-mobx {
	@extend %svg-common;
	background-position: 46.26262626262626% 46.398305084745765%;
}

.svg-logo-mobx-dims {
	width: 32px;
	height: 32px;
}

.svg-logo-react {
	@extend %svg-common;
	background-position: 52.72727272727273% 52.779880561863905%;
}

.svg-logo-react-dims {
	width: 32px;
	height: 28.44px;
}

.svg-logo-react-native {
	@extend %svg-common;
	background-position: 59.19191919191919% 58.877954411641014%;
}

.svg-logo-react-native-dims {
	width: 32px;
	height: 28.44px;
}

.svg-logo-reason {
	@extend %svg-common;
	background-position: 65.65656565656566% 65.46610169491525%;
}

.svg-logo-reason-dims {
	width: 32px;
	height: 32px;
}

.svg-logo-styled-components {
	@extend %svg-common;
	background-position: 72.12121212121212% 72.2457627118644%;
}

.svg-logo-styled-components-dims {
	width: 32px;
	height: 32px;
}

.svg-logo-typescript {
	@extend %svg-common;
	background-position: 78.58585858585859% 79.02542372881356%;
}

.svg-logo-typescript-dims {
	width: 32px;
	height: 32px;
}

.svg-sclfb {
	@extend %svg-common;
	background-position: 80.80614203454894% 82.3170731707317%;
}

.svg-sclfb-dims {
	width: 6px;
	height: 12px;
}

.svg-sclgh {
	@extend %svg-common;
	background-position: 84.38735177865613% 86.15702479338843%;
}

.svg-sclgh-dims {
	width: 21px;
	height: 20px;
}

.svg-sclmed {
	@extend %svg-common;
	background-position: 87.51196452640009% 88.82113821138212%;
}

.svg-sclmed-dims {
	width: 15.07px;
	height: 12px;
}

.svg-sclsl {
	@extend %svg-common;
	background-position: 90.48644263471559% 91.67362555917849%;
}

.svg-sclsl-dims {
	width: 14.216px;
	height: 14.219px;
}

.svg-scltw {
	@extend %svg-common;
	background-position: 93.54737911100696% 94.3089430894309%;
}

.svg-scltw-dims {
	width: 14.96px;
	height: 12px;
}

.svg-sclweb {
	@extend %svg-common;
	background-position: 96.67318982387475% 97.54098360655738%;
}

.svg-sclweb-dims {
	width: 16px;
	height: 16px;
}

.svg-sclyt {
	@extend %svg-common;
	background-position: 100% 100%;
}

.svg-sclyt-dims {
	width: 17px;
	height: 12px;
}

