.svg-arrow-l-dims {
	width: 7.9px;
	height: 13.4px;
}

.svg-arrow-r-dims {
	width: 7.9px;
	height: 13.4px;
}

.svg-arrow_r-dims {
	width: 25.4px;
	height: 11.4px;
}

.svg-feature_1-dims {
	width: 32px;
	height: 30.79px;
}

.svg-feature_2-dims {
	width: 32px;
	height: 24.36px;
}

.svg-feature_3-dims {
	width: 31.38px;
	height: 32px;
}

.svg-logo-css-modules-dims {
	width: 32px;
	height: 26.25px;
}

.svg-logo-graphql-dims {
	width: 28.98px;
	height: 32px;
}

.svg-logo-jest-dims {
	width: 29.09px;
	height: 32px;
}

.svg-logo-react-dims {
	width: 32px;
	height: 28.44px;
}

.svg-logo-react-native-dims {
	width: 32px;
	height: 28.44px;
}

.svg-logo-reason-dims {
	width: 32px;
	height: 32px;
}

.svg-logo-styled-components-dims {
	width: 32px;
	height: 32px;
}

.svg-logo-typescript-dims {
	width: 32px;
	height: 32px;
}

.svg-sclfb-dims {
	width: 6px;
	height: 12px;
}

.svg-sclgh-dims {
	width: 21px;
	height: 20px;
}

.svg-sclmed-dims {
	width: 15.07px;
	height: 12px;
}

.svg-sclsl-dims {
	width: 14.216px;
	height: 14.219px;
}

.svg-scltw-dims {
	width: 14.96px;
	height: 12px;
}

.svg-sclweb-dims {
	width: 16px;
	height: 16px;
}

.svg-sclyt-dims {
	width: 17px;
	height: 12px;
}

