%svg-common {
	background: url("../sprite.svg") no-repeat;
}

.svg-arrow-l {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-arrow-l-dims {
	width: 7.9px;
	height: 13.4px;
}

.svg-arrow-r {
	@extend %svg-common;
	background-position: 1.642373229316362% 3.0527692978630614%;
}

.svg-arrow-r-dims {
	width: 7.9px;
	height: 13.4px;
}

.svg-arrow_r {
	@extend %svg-common;
	background-position: 3.4071550255536627% 6.0790273556231%;
}

.svg-arrow_r-dims {
	width: 25.4px;
	height: 11.4px;
}

.svg-feature_1 {
	@extend %svg-common;
	background-position: 9.071274298056155% 9.065977652365087%;
}

.svg-feature_1-dims {
	width: 32px;
	height: 30.79px;
}

.svg-feature_2 {
	@extend %svg-common;
	background-position: 15.982721382289418% 15.860959699758736%;
}

.svg-feature_2-dims {
	width: 32px;
	height: 24.36px;
}

.svg-feature_3 {
	@extend %svg-common;
	background-position: 22.86355204693499% 21.818181818181817%;
}

.svg-feature_3-dims {
	width: 31.38px;
	height: 32px;
}

.svg-logo-css-modules {
	@extend %svg-common;
	background-position: 29.805615550755938% 28.71564778463264%;
}

.svg-logo-css-modules-dims {
	width: 32px;
	height: 26.25px;
}

.svg-logo-graphql {
	@extend %svg-common;
	background-position: 36.479121067765334% 35.22727272727273%;
}

.svg-logo-graphql-dims {
	width: 28.98px;
	height: 32px;
}

.svg-logo-jest {
	@extend %svg-common;
	background-position: 42.712111781245305% 42.5%;
}

.svg-logo-jest-dims {
	width: 29.09px;
	height: 32px;
}

.svg-logo-react {
	@extend %svg-common;
	background-position: 49.46004319654428% 49.37325277301831%;
}

.svg-logo-react-dims {
	width: 32px;
	height: 28.44px;
}

.svg-logo-react-native {
	@extend %svg-common;
	background-position: 56.371490280777536% 55.911263414194245%;
}

.svg-logo-react-native-dims {
	width: 32px;
	height: 28.44px;
}

.svg-logo-reason {
	@extend %svg-common;
	background-position: 63.2829373650108% 62.95454545454545%;
}

.svg-logo-reason-dims {
	width: 32px;
	height: 32px;
}

.svg-logo-styled-components {
	@extend %svg-common;
	background-position: 70.19438444924405% 70.22727272727273%;
}

.svg-logo-styled-components-dims {
	width: 32px;
	height: 32px;
}

.svg-logo-typescript {
	@extend %svg-common;
	background-position: 77.10583153347733% 77.5%;
}

.svg-logo-typescript-dims {
	width: 32px;
	height: 32px;
}

.svg-sclfb {
	@extend %svg-common;
	background-position: 79.55010224948876% 81.08695652173913%;
}

.svg-sclfb-dims {
	width: 6px;
	height: 12px;
}

.svg-sclgh {
	@extend %svg-common;
	background-position: 83.33333333333333% 85.17699115044248%;
}

.svg-sclgh-dims {
	width: 21px;
	height: 20px;
}

.svg-sclmed {
	@extend %svg-common;
	background-position: 86.67930739899569% 88.04347826086956%;
}

.svg-sclmed-dims {
	width: 15.07px;
	height: 12px;
}

.svg-sclsl {
	@extend %svg-common;
	background-position: 89.85323970847615% 91.09159183102837%;
}

.svg-sclsl-dims {
	width: 14.216px;
	height: 14.219px;
}

.svg-scltw {
	@extend %svg-common;
	background-position: 93.11724022998084% 93.91304347826087%;
}

.svg-scltw-dims {
	width: 14.96px;
	height: 12px;
}

.svg-sclweb {
	@extend %svg-common;
	background-position: 96.45093945720251% 97.36842105263158%;
}

.svg-sclweb-dims {
	width: 16px;
	height: 16px;
}

.svg-sclyt {
	@extend %svg-common;
	background-position: 100% 100%;
}

.svg-sclyt-dims {
	width: 17px;
	height: 12px;
}

