/* Content
-----------------------------------------------------------------------------*/

.content {

}


.section{

	&__head{
		display: flex;

		.section__head-l{
			max-width: 50%;
			width: 100%;
			padding: 0 0 0 100px;

			.section__title{
				padding: 80px 0 0 0;
			}

			&.w-100{
				max-width: none;
			}
		}

		.section__head-r{
			margin: 96px 0 0;
			max-width: 50%;
			width: 100%;
			padding: 0 0 8px 10px;
			max-width: 480px;

			&.no-width{
				max-width: 50%;
			}

			.slider-wrap{
				margin-right: -126px;
			}

			@include xxl{
				.slider-wrap{
					margin-right: 0;
				}
			}
		}
	}

	&__title{
		position: relative;
		font-size: 52px;
		line-height: 1.22;
		font-weight: 700;
		margin: 0;
		padding: 76px 0 0 0;

		.initial{
			position: relative;
			top: -8px;
			width: 0;
			font-family: $rb;
			font-size: 150px;
			line-height: 24px;
			font-weight: 400;
			margin: 0 0 0 0;
			color: $clr-green;

			span{
				display: inline-block;
				position: absolute;
				right: 100%;
			}

			&.w{
				left: 10px;
			}

		}

		&.with-dots:before{
			content: '';
			position: absolute;
			left: -170px;
			top: -90px;
			width: 505px;
			height: 359px;
			z-index: -1;
			background: url(../img/title-drops.png) no-repeat;
			pointer-events: none;
		}
	}

	&__desc{
		font-size: 16px;
		line-height: 1.5;
		margin: 0;

		p{
			margin: 16px 0 0;
		}
	}

	&.black{

		background: $clr-black;

		.section{
			&__head{
				color: $clr-white;
			}

		}

	}

	&.about{
		.container{
			position: relative;
			display: flex;
			padding: 130px 25px;
			z-index: 1;
			justify-content: space-between;
		}

		@include med{
			.container{
				flex-direction: column;
				padding: 60px 25px;
			}
		}
	}

	&.speakers{
		.container{
			padding-bottom: 0;

			@include med{
				padding: 60px 20px 0;
			}

			@include xs{
			}
		}
	}

	@include lg{

		&__title{
			font-size: 46px;

			.initial{
				font-size: 140px;
			}
		}
	}

	@include med{


		&__head{
			flex-direction: column;

			.section__head-l{
				max-width: none;
				padding: 0 0 0 60px;
			}

			.section__head-r{
				margin: 10px 0 0;
				max-width: none;
				padding-left: 60px;

				&.no-width{
					max-width: none;

					.loc-slider-nav{
						&:after{
							display: none;
						}
					}
				}
			}
		}

		&__title{
			font-size: 38px;

			.initial{
				font-size: 128px;
			}
		}
	}

	@include sm{

		&__desc{
			font-size: 14px;
		}

	}

	@include xs{

		&__title{
			font-size: 32px;
			padding: 12px 0 0 72px;

			.initial{
				font-size: 102px;
				position: relative;
				right: 0;
				top: -5px;
			}
		}

		&__head{

			.section__head-l,
			.section__head-r{
				padding: 0;

				.section__title{
					padding: 40px 0 0 72px;
				}
			}

		}

	}
}

